{% extends 'base_pages/without_nav_base.html' %}
{% load static %}
{% block content %}


<div class="page-header text-center" style="background-image: url('/static/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Wishlist<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'united_armor:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Wishlist</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        {% if not query_result%}
            <div class="alert alert-info alert-dismissible m-4 fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>Info!</strong> {{error_msg}}!</span>
                
            </div>
            {% else %}
        <table class="table table-wishlist table-mobile">
            <thead>
                <tr>
                    <th>Product Details</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody>
                {% for row in query_result %}
                <tr>
                    <td class="product-col">
                        <div class="product">
                            <figure class="product-media">
                                <a href="{% url 'united_armor:product' row.product_id %}">
                                    <img src="{{row.default_images}}" alt="Product image">
                                </a>
                            </figure>

                            <h3 class="product-title">
                                <a href="{% url 'united_armor:product' row.product_id %}">{{row.product_name}}</a>
                                <div class="m-1">
                                    <span class="old-price">₹{{row.price}} </span>
                                    <div class="product-price">₹{{row.offer_price}}</div>
                                </div><!-- End .product-price -->
                                <p class=" text-muted mt-1">Color [ {{row.color_name}} ]</p>
                            </h3><!-- End .product-title -->
                        </div><!-- End .product -->
                    </td>
                    
                    
                    <td class="remove-col">
                        <form class="delete-wishlist-form" method="post" id="delete-wishlist-form-{{ row.wishlist_id }}" data-wishlist-id="{{ row.wishlist_id }}">
                            {% csrf_token %}
                            <a href="" class="btn-remove" onclick="deleteFromWishList('{{ row.wishlist_id }}')"><i class="icon-close"></i></a>
                        </form>
                        
                    </td>
                </tr>
                {% endfor %}        
            </tbody>
            
        </table><!-- End .table table-wishlist -->
        {% endif %}
    </div><!-- End .container -->
</div><!-- End .page-content -->


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function deleteFromWishList(wishlist_id) {
        console.log("wishlist_id::"+wishlist_id)
        $.ajax({
            type: 'POST',
            url: `/united_armor/delete_from_wishlist/${wishlist_id}/`,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(response) {
                
                // You can handle the response here if needed
                 // Show the Bootstrap toast with dynamic message
                 showToastSuccess('Success','Product Removed From Wishlist Successfully');
                 console.log('Product Removed from wishlist successfully');
                 // Reload the page after successful removal
                location.reload();
            },
            error: function(error) {
                console.error('Error removing product from wishlist:', error);
                showToast('Alert',error.statusText);
                
            }
        });
        
    }

    

// Function to show a toast message
function showToast(message, bodyContent) {
    toastr.warning(bodyContent, message, {
      positionClass: "toast-top-center",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1
  })
}

function showToastSuccess(message, bodyContent) {
    toastr.success(bodyContent, message, {
        positionClass: "toast-top-full-width",
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        preventDuplicates: !0,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1
  })
}

</script>
{% endblock %}