{% extends "base/base.html" %}
{% load static %}
{% block title %}Add New Purchase Order{% endblock title%}
{% block content %}

  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>Add New Purchase Order</h6>
            
          </div>
          <!-- Action Buttons  -->
          
          <!-- Action Buttons End  -->
          <div class="card-body px-0 pt-0 pb-2">
            <div class="row ms-2">
              
            </div>
            
        </div>
        </div>
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Add an event listener to the search input field
        $('#employee-name-search').on('input', function () {
            applyFilters();
        });

       
        function applyFilters() {
          // Get the user's search input
          var userSearch = $('#employee-name-search').val().toLowerCase();
      
          // Loop through the table rows and hide/show them based on the filters
          $('.table tbody tr').each(function () {
              var userName = $(this).find('td:first h6').text().toLowerCase();
              var userMobile = $(this).find('td:first p.text-xs').text();
      
              if (
                  userName.includes(userSearch) || userMobile.includes(userSearch) || userSearch === ''
              ) {
                  $(this).show();
              } else {
                  $(this).hide();
              }
          });
      }
      
      });
</script>
{% endblock  %}
