{% extends "base/base.html" %}
{% load static %}
{% block title %}Add New Purchase Order{% endblock title%}
{% block content %}

  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>Add New Purchase Order</h6>
            
          </div>
          <!-- Action Buttons  -->
          
          <!-- Action Buttons End  -->
          <div class="card-body px-0 pt-0 pb-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="pl-lg-4 m-4">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="input-kimbalno">Kimball No</label>
                          <input type="text" id="input-kimbalno" class="form-control form-control-alternative" placeholder="Enter Kimball No" name="kimbalno" autocomplete="off" value="{{ data.kimbalno|default:'' }}"  required>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="input-styleref">Style Reference</label>
                          <input type="text" id="input-styleref" class="form-control form-control-alternative" placeholder="Style Reference ID" name="styleref" autocomplete="off" value="{{ data.styleref|default:'' }}"  required>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label class="form-control-label" for="input-productdsc">Product Description</label>
                          <input type="text" id="input-productdsc" class="form-control form-control-alternative" placeholder="Enter Product Description" name="productdsc" autocomplete="off" value="{{ data.productdsc|default:'' }}"  required>
                        </div>
                      </div>
                  
                </div>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                          <label class="form-control-label" for="input-department">Department</label>
                          <input type="text" id="input-department" class="form-control form-control-alternative" placeholder="Enter Department" name="department" autocomplete="off" value="{{ data.department|default:'' }}"  required>
                        </div>
                      </div>
                      <div class="col-lg-5">
                        <div class="input-group">
                           <div class="col-lg-10">
                            <label class="form-control-label" for="input-section">Section</label>
                            <input type="text" id="input-section" class="form-control form-control-alternative" placeholder="Section" name="section" autocomplete="off" value="{{ data.section|default:'' }}" required>
                           </div>
                            <div class="col-lg-2 ms-1">
                                <label class="form-control-label" for="input-size">EZ/UK</label>
                            <input type="text" id="input-size" class="form-control form-control-alternative" placeholder="EZ/UK" name="size" autocomplete="off" style="width: 50px;" value="{{ data.size|default:'' }}" required>
                            </div>
                        </div>
                    </div>
                    
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label class="form-control-label" for="input-productdsc">Product Description</label>
                          <input type="text" id="input-productdsc" class="form-control form-control-alternative" placeholder="Enter Product Description" name="productdsc" autocomplete="off" value="{{ data.productdsc|default:'' }}"  required>
                        </div>
                      </div>
                  
                </div>

            </div>
            </form>
        </div>
        </div>
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Add an event listener to the search input field
        $('#employee-name-search').on('input', function () {
            applyFilters();
        });

       
        function applyFilters() {
          // Get the user's search input
          var userSearch = $('#employee-name-search').val().toLowerCase();
      
          // Loop through the table rows and hide/show them based on the filters
          $('.table tbody tr').each(function () {
              var userName = $(this).find('td:first h6').text().toLowerCase();
              var userMobile = $(this).find('td:first p.text-xs').text();
      
              if (
                  userName.includes(userSearch) || userMobile.includes(userSearch) || userSearch === ''
              ) {
                  $(this).show();
              } else {
                  $(this).hide();
              }
          });
      }
      
      });
</script>
{% endblock  %}
