{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Velvet Royal Gym offers a premium fitness experience, providing state-of-the-art equipment, expert trainers, and tailored workout programs. Elevate your fitness journey with our diverse range of classes and personalized training sessions, designed to help you achieve your health goals effectively.">
    <meta name="keywords" content="Fitness center, Gymnasium, Personal training, Group fitness classes, Cardio, Strength training, Health club, Wellness, Exercise programs, Gym membership, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="icon" type="image/ico" href="{% static 'logos/favicon.ico' %}">
    <title>Velvet Royal Gym - Fitness</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'gym_styles/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'gym_styles/css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item set-bg" data-setbg="{% static 'gym_styles/img/hero-slider/hero-1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Unleash Your Inner Strength</h2>
                                <h1>Velvet Royal Gym</h1>
                                {% comment %} <a href="#" class="primary-btn">Contact Now</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{% static 'gym_styles/img/hero-slider/hero-2.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Elevate Fitness</h2>
                                <h1>Velvet Royal </h1>
                                {% comment %} <a href="#" class="primary-btn">Contact Now</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-item set-bg" data-setbg="{% static 'gym_styles/img/hero-slider/hero-3.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>Join Strong</h2>
                                <h1>FITNESS & SPORT</h1>
                                {% comment %} <a href="#" class="primary-btn">Contact Now</a> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <!-- Feature Section Begin -->
    <section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'gym_styles/img/feature/feature-1.jpg' %}">
                        <h3>GROUP CLASSES</h3>
                        <p>Join our dynamic group classes for motivating sessions<br>and progress</p>
                        {% comment %} <a href="#" class="primary-btn f-btn">Contact Now</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'gym_styles/img/feature/feature-2.jpg' %}">
                        <h3>PERSONAL TRAINING</h3>
                        <p>Experience transformation with personalized guidance <br> from our expert personal trainers</p>
                        {% comment %} <a href="#" class="primary-btn f-btn">Contact Now</a> {% endcomment %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="{% static 'gym_styles/img/feature/feature-3.jpg' %}">
                        <h3>Sports Nutrition</h3>
                        <p>Elevate your game with tailored sports nutrition strategies <br> for peak results.</p>
                        {% comment %} <a href="#" class="primary-btn f-btn">Contact Now</a> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>WELCOME TO VELVET ROYAL GYM</h2>
                        <p class="short-details">Welcome to Velvet Royal  Gym, where your fitness journey begins and excelling becomes second nature.</p>
                        <p class="long-details">VELVET ROYAL GYM provides a 24/7 Fitness facility to residents of BELAGAUM as well as surrounding areas to help people reach and maintain their fitness goals. We combine different types of latest fitness equipment to meet different fitness needs and levels. 
                            At VELVET ROYAL GYM you’ll find all the latest strength and cardio equipment along with an energetic group exercise program that includes Heavy weight, fitness, Personal training, Muscle Building and many other cardio classes. You’ll find a supportive environment with all kinds of people who are working just as hard as you to meet their goals.
                        </p>
                        <p class="long-details">
                            Our trainer is committed to offer our members a great fitness experience. We can ensure that we will help you to build a proper body shape, according your preference.
                        </p>
                        <h2>HOW WILL WE HELP YOU ?</h2>
                        <p class="long-details">
                            Regular physical activity is one of the most important things you can do for your health. Being physically active can improve your mental health, reduce the risk of getting affected by a disease, build strength, and improve your ability to do day to day activities.
By joining a gym you can increase your confidence, build a strong mindset, refresh your mind and be a better version of yourself.  
                        </p>
                        <!-- <a href="/about-us" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="{% static 'gym_styles/img/logo.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    

   

    <!-- Price Plan Section Begin -->
    <section class="price-section spad set-bg" data-setbg="{% static 'gym_styles/img/price-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>PLAN PRICE CHART</h2>
                        <p>Explore flexible pricing options tailored to your fitness goals and preferences at our gym.<br/>
                        Price can vary depending upon your fitness goals.</p>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Basic</h4>
                        <div class="price-plan">
                            <h2>700 <span>₹</span></h2>
                            <p>Monthly</p>
                        </div>
                        <ul>
                            <li>Unlimited access to the gym</li>
                            <!-- <li>1 classes per week</li> -->
                            <li>FREE drinking package</li>
                            
                        </ul>
                        <a href="#" class="primary-btn price-btn">Get Started</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Professional</h4>
                        <div class="price-plan">
                            <h2>7600<span>₹</span></h2>
                            <p>Yearly</p>
                        </div>
                        <ul>
                            <li>Unlimited access to the gym</li>
                            <li>3 cardio classes per week</li>
                            <li>FREE drinking package</li>
                            <li>1 Free personal training</li>
                        </ul>
                        <a href="#" class="primary-btn price-btn">Get Started</a>
                        <div class="tic-text">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-price-plan">
                        <h4>Self</h4>
                        <div class="price-plan">
                            <h2>5500<span>₹</span></h2>
                            <p>Quarterly</p>
                        </div>
                        <ul>
                            <li>Unlimited access to the gym</li>
                            <li>3 cardio classes per week</li>
                            <li>FREE drinking package</li>
                            <li>1 Free personal training</li>
                            
                        </ul>
                        <a href="#" class="primary-btn price-btn">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Price Plan Section End -->

    <!-- Choseus Section Begin -->
    <section class="chooseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Why People Choose Us</h2>
                        <p>Exceptional facilities, expert trainers, and proven results define our gym's appeal.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-1.png' %}" alt="">
                        <h5>Support 24/24</h5>
                        <p>Our gym offers 24/7 support, ensuring your fitness journey is always supported. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-2.png' %}" alt="">
                        <h5>Our trainer</h5>
                        <p>Highly qualified professionals dedicated to guiding and maximizing your fitness potential.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-3.png' %}" alt="">
                        <h5>Personalized sessions</h5>
                        <p>Tailored sessions designed to meet your unique fitness goals and needs.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-4.png' %}" alt="">
                        <h5>Our equipment</h5>
                        <p>Our gym is equipped with state-of-the-art tools to elevate your workout experience.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-5.png' %}" alt="">
                        <h5>Classes daily</h5>
                        <p>Enjoy a variety of classes offered every day to keep you motivated and engaged.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item">
                        <img src="{% static 'gym_styles/img/icons/chose-icon-6.png' %}" alt="">
                        <h5>Focus on your health</h5>
                        <p>Embrace a journey focused on nurturing your overall health and vitality.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choseus Section End -->

    <!-- Video Section Begin -->
    <!-- <section class="video-section set-bg" data-setbg="{% static 'gym_styles/img/video-bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-text">
                        <h2>Most Popular Gym In Belgaum</h2>
                        <a href="https://www.youtube.com/watch?v=X_9VoqR5ojM" class="play-btn video-popup">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- Video Section End -->

    

    <!-- Cta Section Begin -->
    <section class="cta-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-text">
                        <h3>GeT Started Today</h3>
                        <p class="text-dark">New Admission special! Unlimited Gym for the first week and 10% more off our yearly member!</p>
                    </div>
                    <!-- <a href="" class="primary-btn cta-btn" data-bs-toggle="modal" data-bs-target="#orderModal">book now</a> -->
                </div>
            </div>
        </div>
    </section>
    <!-- Cta Section End -->

    <!-- Map Section Begin -->
    <div class="map">
         
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61414.38402915884!2d74.43097144863282!3d15.835612999999988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbf5f86a37104ed%3A0x996e05c64c9a57d2!2sVELVET%20FIT%20INDIA%20ROYAL%20GYM!5e0!3m2!1sen!2sin!4v1704861817691!5m2!1sen!2sin"
        height="590" style="border: 0" allowfullscreen=""></iframe>
        <div class="map-contact-detalis">
            <div class="open-time">
                <h5>Weekday:</h5>
                <ul>
                    <li>Weekday: <span>06:00- 9:00</span></li>
                    <li>Saturday: <span>06:00 - 9:00</span></li>
                    <li>Sunday: <span>Closed</span></li>
                </ul>
            </div>
            <!-- <div class="map-contact-form">
                <h5>Contact Us</h5>
                <form action="/">
                    <input type="text" placeholder="Name">
                    <input type="text" class="phone" placeholder="Phone">
                    <textarea placeholder="Message"></textarea>
                    <button type="submit" class="site-btn">Submit Now</button>
                </form>
            </div> -->
        </div>
    </div>
    <!-- Map Section End -->

    <!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer-logo-item">
                    <div class="f-logo">
                        <a href="#"><img src="{% static 'gym_styles/img/logo.png' %}" alt="" height="200"></a>
                    </div>
                    <p>At Velvet Royal  Gym, we believe in the transformative power of fitness. 
                        Our dedicated team of experienced trainers and state-of-the-art facilities are here to support you on your journey towards a healthier and stronger you. <br>
                        </p>
                    <div class="social-links">
                        <h6>Follow us</h6>
                        <a href="/"><i class="fa fa-facebook"></i></a>
                        <a href="/"><i class="fa fa-twitter"></i></a>
                        <a href="/"><i class="fa fa-linkedin"></i></a>
                        <a href="/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="footer-widget">
                    <h5>Our Branches</h5>
                    <div class="footer-blog">
                        <a href="/" class="fb-item">
                            <h6>#Tilakwadi Branch :PLOT NO 198, VFF Group, Saraf Colony, Ranade Colony,
                                Tilakwadi, <br />
                                Belagavi, Karnataka 590006-India.</h6>
                            <!-- <span class="blog-time"><i class="fa fa-clock-o"></i> Aug 08, 2023</span> -->
                        </a>
                        <a href="#" class="fb-item">
                            <h6>#Auto Nagar Branch : Plot no. 516, Main Road, Ramteerth Nagar, Lakshmipuri Layout, Auto Nagar,<br/> Belagavi, Karnataka 590015 - India.</h6>
                            <!-- <span class="blog-time"><i class="fa fa-clock-o"></i> June 06, 2023</span> -->
                        </a>
                        <!-- <a href="#" class="fb-item">
                            <h6>Planning to open 2nd Branch</h6>
                            <span class="blog-time"><i class="fa fa-clock-o"></i> Sep 02, 2022</span>
                        </a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="footer-widget">
                    <h5>Program</h5>
                    <ul class="workout-program">
                        <li><a href="#">Bodybuilding</a></li>
                        <li><a href="#">Running</a></li>
                        <li><a href="#">Streching</a></li>
                        <li><a href="#">Weight Loss</a></li>
                        <li><a href="#">Gym Fitness</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="footer-widget">
                    <h5>Get Info</h5>
                    <ul class="footer-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Phone:</span>
                            <a href="tel:+(91) 06364912877">+(91) 06364912877</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email:</span>
                            <a href="mailto:info@vff-group.com" class="mail"
                    >info@vff-group.com</a
                  >
                        </li>
                        <li>
                            <div class="row">
                                <div class="col">
                                                      <!-- Play Store icon -->
              <a href="https://play.google.com/store/apps/details?id=com.vffgroup.vffgroup" target="_blank">
                <img src="{% static 'images/play_store_logo.png' %}" alt="Play Store" class="icon" width="200" height="100" style="object-fit: contain;"/>
              </a>
                                </div>
                                <div class="col">
                  
              <!-- App Store icon -->
              <a href="https://apps.apple.com/dk/app/vff-group/id6469453683" target="_blank">
                <img src="{% static 'images/app_store_logo.webp' %}" alt="App Store" class="icon"  width="200" height="100" style="object-fit: contain;"/>
              </a>
                                </div>
                            </div>
                        </li>
                        <!-- <li>
                            <i class="fa fa-map-marker"></i>
                            <span>Address</span>
                            <h6>#Tilakwadi Branch :PLOT NO 198, VFF Group, Saraf Colony, Ranade Colony,
                                Tilakwadi, <br />
                                Belagavi, Karnataka 590006-India.</h6>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <div class="ct-inside">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved Velvet Royal  Gym</div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

    <!-- Js Plugins -->
<script src="{% static 'gym_styles/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'gym_styles/js/bootstrap.min.js' %}"></script>
<script src="{% static 'gym_styles/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'gym_styles/js/mixitup.min.js' %}"></script>
<script src="{% static 'gym_styles/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'gym_styles/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'gym_styles/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'gym_styles/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'gym_styles/js/main.js' %}"></script>
</body>

</html>