{% extends 'base_pages/without_nav_base.html' %}
{% load static %}
{% block content %}


<div class="page-header text-center" style="background-image: url('/static/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'united_armor:home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="cart">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% if not query_result %}
                    <div class="alert alert-info alert-dismissible m-4 fade show" role="alert">
                        <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                        <span class="alert-text text-white"><strong>Info!</strong> {{error_msg}}!</span>
                        
                    </div>
                    {% else %}
                    <table class="table table-cart table-mobile">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for row in query_result %}
                            <tr>
                                <td class="product-col">
                                    <div class="product">
                                        <input type="hidden" value={{row.cart_id}}>
                                        <figure class="product-media">
                                            <a href="{% url 'united_armor:product' row.product_id %}">
                                                <img src="{{row.product_img_url}}" alt="Product image">
                                            </a>
                                        </figure>

                                        <h3 class="product-title">
                                            <a href="{% url 'united_armor:product' row.product_id %}">{{row.product_name}}</a>
                                        </h3><!-- End .product-title -->
                                    </div><!-- End .product -->
                                </td>
                                <td class="price-col">₹{{row.actual_price}}</td>
                                <td class="quantity-col">
                                    <div class="cart-product-quantity">
                                        <input type="number" class="form-control" value="{{row.quantity}}" min="1" max="{{row.max_checkout_qty}}" step="1" data-decimals="0" required>
                                    </div><!-- End .cart-product-quantity -->
                                </td>
                                <td class="total-col">₹{{row.price}}</td>
                                <td class="remove-col"><button class="btn-remove"><i class="icon-close"></i></button></td>
                            </tr>
                            
                            {% endfor %}
                        </tbody>
                    </table><!-- End .table table-wishlist -->
                    {% endif %}

                    

                </div><!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                    <div class="summary summary-cart">
                        <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                        <table class="table table-summary">
                            <tbody>
                                <tr class="summary-subtotal">
                                    <td>Subtotal:</td>
                                    <td>₹0.0</td>
                                </tr><!-- End .summary-subtotal -->
                                {% comment %} <tr class="summary-shipping">
                                    <td>Coupon Code:</td>
                                    <td>&nbsp;</td>
                                </tr>

                                <tr class="summary-shipping-row">
                                    <td>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                            <label class="custom-control-label" for="free-shipping">AUNIArmor12</label>
                                        </div><!-- End .custom-control -->
                                    </td>
                                    <td>₹60.00</td>
                                </tr><!-- End .summary-shipping-row --> {% endcomment %}

                            

                                

                                <tr class="summary-total">
                                    <td>Total:</td>
                                    <td>₹0.0</td>
                                </tr><!-- End .summary-total -->
                            </tbody>
                        </table><!-- End .table table-summary -->

                        <a href="{% url 'united_armor:checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                    </div><!-- End .summary -->

                    <a href="{% url 'united_armor:home' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                </aside><!-- End .col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div><!-- End .page-content -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Get the CSRF token from the cookie
        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("csrftoken=")) {
                    return cookie.substring("csrftoken=".length, cookie.length);
                }
            }
            return null;
        }

        // Function to format currency with commas
        function formatCurrency(amount) {
            return '₹' + amount.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        }

        // Function to update subtotal and total via AJAX
        function updateCartItem(cartID, quantity, price) {
            const csrfToken = getCSRFToken();
            $.ajax({
                type: 'POST',
                url: '/united_armor/update_cart/',  // Update this with the correct URL
                data: {
                    
                    'cart_id': cartID,
                    'quantity': parseInt(quantity),
                    'price': price,
                },
                headers: {
                    'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
                },
                success: function (response) {
                    // Reload the screen after successful update
                    if (response.message === 'success') {
                        // Show success modal
                        showToastSuccess('Success','Item Updated Successfully');
                        location.reload();
                    } else {
                        // Show error modal
                        showToast('Alert','Item Update Error');
                        location.reload();
                    }
                    
                },
                error: function (error) {
                    console.error('Error updating cart:', error);
                    // Handle the error as needed
                }
            });
        }

        // Function to update subtotal and total
        function updateCartTotal() {
            var subTotal = 0;

            // Iterate through each row in the cart
            $('.table-cart tbody tr').each(function () {
                var productID = $(this).data('product-id');
                var quantity = parseInt($(this).find('.cart-product-quantity input').val());
                var price = parseFloat($(this).find('.price-col').text().replace('₹', '').replace(/,/g, '').trim());

                // Calculate row total
                var rowTotal = quantity * price;
                subTotal += rowTotal;

                // Update total column in the table with formatted currency
                $(this).find('.total-col').text(formatCurrency(rowTotal));
            });

            // Update subtotal and total labels with formatted currency
            $('.summary-subtotal td:last-child').text(formatCurrency(subTotal));
            $('.summary-total td:last-child').text(formatCurrency(subTotal));
        }

        // Trigger updateCartTotal on page load
        updateCartTotal();

        // Event listener for quantity change
        $('.cart-product-quantity input').on('input', function () {
            var cartID = $(this).closest('tr').find('input[type="hidden"]').val();
            var quantity = $(this).val();
            var price = $(this).closest('tr').find('.price-col').text();

            // Update cart item via AJAX
            updateCartItem(cartID, quantity, price);

            // Update subtotal and total on the client side
            updateCartTotal();
        });

        // Function to remove item from the cart via AJAX
        function removeCartItem(cartID) {
            const csrfToken = getCSRFToken();
            $.ajax({
                type: 'POST',
                url: '/united_armor/remove_cart_item/',  // Update this with the correct URL
                data: {
                    'cart_id': cartID,
                },
                headers: {
                    'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
                },
                success: function (response) {
                    // Reload the screen after successful removal
                    if (response.message === 'success') {
                        // Show success modal
                        showToastSuccess('Success','Item Removed Successfully');
                        location.reload();
                    } else {
                        // Show error modal
                        showToast('Alert','Item Remove Error');
                        location.reload();
                    }
                    
                },
                error: function (error) {
                    console.error('Error removing cart item:', error);
                    // Handle the error as needed
                }
            });
        }

        // Event listener for remove button click
        $('.btn-remove').on('click', function () {
            var cartID = $(this).closest('tr').find('input[type="hidden"]').val();

            // Remove cart item via AJAX
            removeCartItem(cartID);
        });


        function showToast(message, bodyContent) {
            toastr.info(bodyContent, message, {
                positionClass: "toast-bottom-right",
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
        })
        }

        function showToastSuccess(message, bodyContent) {
            toastr.success(bodyContent, message, {
                positionClass: "toast-bottom-right",
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
        })
        }

    });
</script>





{% endblock %}