{% extends "base/base.html" %}
{% load static %}
{% block title %}Product{% endblock title%}
{% block content %}



  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>Add New Product</h6>
            
          </div>

          <div class="card-body px-0 pt-0 pb-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="pl-lg-4 m-4">
                    <!-- Existing form fields... -->
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="input-images">Product Images</label>
                            <div id="image-dropzone" class="dropzone">
                                <input type="file" id="input-images" class="form-control form-control-alternative" name="product_images[]" multiple accept=".jpg, .jpeg, .png, .gif" style="display:none;">
                                <div class="dz-message needsclick" onclick="document.getElementById('input-images').click()">
                                    <i class="fas fa-cloud-upload-alt"></i>
                                    <h5>Click to upload product images</h5>
                                </div>
                            </div>
                            <!-- Preview container for images -->
                            <div id="image-preview-container" class="mt-3"></div>
                        </div>
                    </div>
                    
                    <!-- New fields for multiple images, product name, description, fit and care, and return policy -->
                    <div class="row mb-4">
                        <!-- Multiple Images Upload -->
                        <!-- <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-images">Product Images</label>
                                <input type="file" id="input-images" class="form-control form-control-alternative" name="product_images[]" multiple accept="image/*">
                                Preview container for images
                                <div id="image-preview-container" class="mt-3"></div>
                            </div>
                        </div> -->
        
                        <!-- Product Name -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-product-name">Product Name</label>
                                <input type="text" id="input-product-name" class="form-control form-control-alternative" placeholder="Enter Product Name" name="product_name" autocomplete="off" required>
                            </div>
                        </div>

                         <!-- Dropdown for Product Type -->
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label" for="input-product-type">Product Type</label>
                                <select id="input-product-type" class="form-control form-control-alternative" name="product_type" required>
                                    <option value="">Select Product Type</option>
                                    <!-- Add options dynamically based on your product types -->
                                    <option value="type1">Short Sleeves</option>
                                    <option value="type2">Regular</option>
                                    <option value="type2">Shoes</option>
                                </select>
                            </div>
                        </div>
                        
                        <!-- Checkboxes for Sizes -->
                        <div class="col-lg-4">
                            <label class="form-control-label">Sizes Available</label>
                            <div class="row">
                                <!-- Add checkboxes dynamically based on your available sizes -->
                        <div class="col-lg-1">
                           <div class="form-check">
                               <input class="form-check-input" type="checkbox" id="sizeCheckbox1" name="sizes[]" value="S">
                               <label class="form-check-label" for="sizeCheckbox1">S</label>
                           </div>
                       </div>
                       <div class="col-lg-1">
                           <div class="form-check">
                               <input class="form-check-input" type="checkbox" id="sizeCheckbox2" name="sizes[]" value="M">
                               <label class="form-check-label" for="sizeCheckbox2">M</label>
                           </div>
                       </div>

                       <div class="col-lg-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sizeCheckbox2" name="sizes[]" value="L">
                            <label class="form-check-label" for="sizeCheckbox2">L</label>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sizeCheckbox2" name="sizes[]" value="XL">
                            <label class="form-check-label" for="sizeCheckbox2">XL</label>
                        </div>
                    </div>

                    <div class="col-lg-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="sizeCheckbox2" name="sizes[]" value="XXL">
                            <label class="form-check-label" for="sizeCheckbox2">XXL</label>
                        </div>
                    </div>
                       <!-- Add more checkboxes for other sizes as needed -->
                            </div>
                        </div>
                     
                    </div>

                    <div class="row mb-2">
                         <!-- Price -->
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="productPrice">Price</label>
                                <input type="number" class="form-control" id="productPrice" placeholder="Enter product price" required>
                            </div>
                         </div>

                          <!-- Offer Price -->
                          <div class="col-lg-4">
                            <div class="form-group">
                                <label for="productOfferPrice">Offer Price %</label>
                                <input type="number" class="form-control" id="productOfferPrice" placeholder="Enter product offer price" required>
                            </div>
                         </div>
                          

                             <!-- Max Checkout Quantity -->
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="productCheckOutQuantity">Max Checkout Quantity</label>
                                    <input type="number" class="form-control" id="productCheckOutQuantity" placeholder="Enter Max Checkout Quantity" required>
                                </div>
                            </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-lg-4">
                            <label class="form-control-label" for="input-product-color">Color</label>
                        <input type="color" id="input-product-color" class="form-control form-control-sm rounded" name="colors[]" required>
                    </div>

                        <!-- Product Category Table -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="mainCategory">Product Category</label>
                                <select class="form-control" id="mainCategory" required>
                                    <option value="newArrival">Clothing</option>
                                    <option value="mens">Accessories</option>
                                    <option value="womens">Shoes</option>
                                    
                                </select>
                            </div>
                        </div>

                         <!-- Fitting -->
                         <div class="col-lg-4">
                            <div class="form-group">
                                <label for="mainCategory">Fitting</label>
                                <select class="form-control" id="mainCategory" required>
                                    <option value="newArrival">Loose</option>
                                    <option value="mens">Regular</option>
                                    <option value="womens">Fitted</option>
                                    
                                </select>
                            </div>
                         </div>

                    </div>

                     <!-- <div class="row mb-4">
                        <label class="form-control-label">Colors Available</label>
                    
                        <div class="col-lg-12">
                            <div id="color-input-container" class="d-flex flex-wrap align-items-center">
                                Initial color input field
                                <div class="input-group mb-3 me-3">
                                    <input type="color" class="form-control form-control-sm rounded" name="colors[]" required>
                                    <button type="button" class="btn btn-outline-danger rounded-start" onclick="removeColorInput(this)">
                                        Use the Flaticon or other delete icon here 
                                        <i class='fas fa-trash-alt delete-icon'></i>
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success mt-2" onclick="addColorInput()">Add Color</button>
                        </div>
            
                         
                        
                     </div> -->

                    


        
                    <!-- Description, Fit and Care, and Return Policy Textareas -->
                    <div class="row mb-4">
                        <!-- Product Description -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-product-description">Product Description</label>
                                <textarea id="input-product-description" class="form-control form-control-alternative" placeholder="Enter Product Description" name="product_description" rows="3" required></textarea>
                            </div>
                        </div>
        
                        <!-- Fit and Care Information -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-fit-care">Fit and Care Information</label>
                                <textarea id="input-fit-care" class="form-control form-control-alternative" placeholder="Enter Fit and Care Information" name="fit_care" rows="3" required></textarea>
                            </div>
                        </div>
        
                        <!-- Return Policy -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-return-policy">Return Policy</label>
                                <textarea id="input-return-policy" class="form-control form-control-alternative" placeholder="Enter Return Policy" name="return_policy" rows="3" required></textarea>
                            </div>
                        </div>
                    </div>
        
                    <!-- Existing form fields... -->
        
                    <button type="submit" class="btn btn-primary">Add New Product</button>
                </div>
            </form>
        </div>

        <!-- Include jscolor library from CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.4.5/jscolor.min.js"></script>
        <!-- Include Dropzone.js library -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/dropzone.css">
        <script src="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/dropzone.js"></script>

        <script>
            

            document.getElementById('input-images').addEventListener('change', function () {
                var validExtensions = ['jpg', 'jpeg', 'png', 'gif'];
        
                // Get selected files
                var files = $(this)[0].files;
    
                // Filter out unsupported files
                var validFiles = Array.from(files).filter(function (file) {
                    var extension = file.name.split('.').pop().toLowerCase();
                    return validExtensions.includes(extension);
                });
    
                // Replace the selected files with valid ones
                $(this)[0].files = new FileList(validFiles);
    
                // You can also display an alert or message for unsupported files
                if (files.length !== validFiles.length) {
                    showToast('Alert','Unsupported file types detected. Only jpg, jpeg, png, and gif are allowed.');
                    return;
                }
                previewImages(this);
            });
        
            function previewImages(input) {
                var previewContainer = document.getElementById('image-preview-container');
                previewContainer.innerHTML = ''; // Clear previous previews
        
                var files = input.files;
                for (var i = 0; i < files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var imageElement = document.createElement('img');
                        imageElement.src = e.target.result;
                        imageElement.className = 'preview-image';
                        imageElement.style.width='100px';
                        imageElement.style.height='100px';
                        imageElement.style.marginRight='10px';
                        previewContainer.appendChild(imageElement);
                    };
                    reader.readAsDataURL(files[i]);
                }
            }

            // Function to show a toast message
function showToast(message, bodyContent) {
    toastr.warning(bodyContent, message, {
      positionClass: "toast-top-center",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1
  })
}
        </script>
        
       

        <!-- <script>
            // Customize the appearance and behavior of Dropzone
            Dropzone.autoDiscover = false;
        
            // Initialize Dropzone on the specified element
            var myDropzone = new Dropzone("#image-dropzone", {
                url: "/your-upload-endpoint",
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 5, // MB
                maxFiles: 10,
                acceptedFiles: "image/*",
                addRemoveLinks: true, // Add remove links for uploaded files
                dictRemoveFile: "Remove", // Label for the remove link
                init: function () {
                    this.on("addedfile", function (file) {
                        // Display the file preview in the preview container
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            var imageElement = document.createElement("img");
                            imageElement.src = e.target.result;
                            document.getElementById("image-preview-container").appendChild(imageElement);
                        };
                        reader.readAsDataURL(file);
                    });
        
                    this.on("removedfile", function (file) {
                        // Remove the file preview from the preview container
                        var previewContainer = document.getElementById("image-preview-container");
                        var previews = previewContainer.getElementsByTagName("img");
                        for (var i = 0; i < previews.length; i++) {
                            if (previews[i].src.includes(file.dataURL)) {
                                previewContainer.removeChild(previews[i]);
                                break;
                            }
                        }
                    });
                },
            });
        </script> -->
        
        <script>
           // Function to preview selected images
          //function previewImages(input) {
          //    var previewContainer = document.getElementById('image-preview-container');
          //    previewContainer.innerHTML = ''; // Clear previous previews

          //    if (input.files) {
          //        for (var i = 0; i < input.files.length; i++) {
          //            var reader = new FileReader();
          //            reader.onload = function (e) {
          //                var imgElement = document.createElement('img');
          //                imgElement.src = e.target.result;
          //                imgElement.className = 'img-thumbnail';
          //                imgElement.style.width = '100px'; // Set the fixed width
          //                imgElement.style.height = '100px'; // Set the fixed height
          //                imgElement.style.marginRight = '5px'; // Set the fixed height
          //                previewContainer.appendChild(imgElement);
          //            };
          //            reader.readAsDataURL(input.files[i]);
          //        }
          //    }
          //}

          //// Attach the previewImages function to the change event of the image input
          //document.getElementById('input-images').addEventListener('change', function () {
          //    previewImages(this);
          //});

           
            // Function to add a new color input field
          // function addColorInput() {
          //     var colorInputContainer = document.getElementById('color-input-container');
        
          //     // Create a new color input field
          //     var newColorInput = document.createElement('div');
          //     newColorInput.className = 'input-group mb-3 me-3';
        
          //     // Color input field using HTML color picker
          //     var inputField = document.createElement('input');
          //     inputField.type = 'color';
          //     inputField.className = 'form-control form-control-sm rounded';
          //     inputField.name = 'colors[]';
          //     inputField.required = true;
        
          //     // Delete button
          //     var deleteButton = document.createElement('button');
          //     deleteButton.type = 'button';
          //     deleteButton.className = 'btn btn-outline-danger rounded-start';
          //     deleteButton.textContent = '-';
          //     deleteButton.addEventListener('click', function() {
          //         removeColorInput(newColorInput);
          //     });
        
          //     // Append elements to the new color input field
          //     newColorInput.appendChild(inputField);
          //     newColorInput.appendChild(deleteButton);
        
          //     // Append the new color input field to the container
          //     colorInputContainer.appendChild(newColorInput);
          // }
        
          // // Function to remove a color input field
          // function removeColorInput(element) {
          //     var colorInputContainer = document.getElementById('color-input-container');
          //     colorInputContainer.removeChild(element);
          // }
        </script>

        <script>
            // Function to add a new color input field
            function addColorInput() {
                var colorInputContainer = document.getElementById('color-input-container');
        
                // Create a new color input field
                var newColorInput = document.createElement('div');
                newColorInput.className = 'input-group mb-3 me-3';
        
                // Color input field using HTML color picker
                var inputField = document.createElement('input');
                inputField.type = 'color';
                inputField.className = 'form-control form-control-sm rounded';
                inputField.name = 'colors[]';
                inputField.required = true;
        
                // Delete button with Flaticon or other delete icon
                var deleteButton = document.createElement('button');
                deleteButton.type = 'button';
                deleteButton.className = 'btn btn-outline-danger rounded-start';
                // Use the Flaticon or other delete icon here
                deleteButton.innerHTML = '<i class="fas fa-trash-alt delete-icon"></i>';
                deleteButton.addEventListener('click', function() {
                    removeColorInput(newColorInput);
                });
        
                // Append elements to the new color input field
                newColorInput.appendChild(inputField);
                newColorInput.appendChild(deleteButton);
        
                // Append the new color input field to the container
                colorInputContainer.appendChild(newColorInput);
            }
        
            // Function to remove a color input field
            function removeColorInput(element) {
                var colorInputContainer = document.getElementById('color-input-container');
                colorInputContainer.removeChild(element);
            }
        </script>
        
    {% endblock  %}        