{% extends "common/full_page_base.html" %}
{% load static %}
{% block title%}
{% if data %}
Update Delivery Agent Details
{% else %}
Add New Delivery Agent Details
{% endif %}
{% endblock title %}
{% block content %}

<div class="main-content">
   
    
    <!-- Page content -->
    <div class="container-fluid mt-2 mb-4">
       
        <div class="card card-profile shadow mb-4">
        <div class="card-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <h6 class="heading-small text-muted mb-4">Delivery Agent Information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-1">
            <div class="form-group">
                <div class="avatar avatar-xl position-relative" id="input-dprofile">
                  <label for="deli_boy_upload" class="avatar-img-label cursor-pointer">
                    {% if data.profile_img and data.profile_img != "NA" %}
                        <div class="row">
                            <div class="col mt-4">
                                <div class="card mb-4 shadow-lg">
                                    <img src="{{ data.profile_img }}" alt="delivery-image" name="delivery-image" class="w-100 border-radius-lg shadow-sm">
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col mt-4">
                                <div class="card mb-4 shadow-lg d-flex" id="imageCardDelivery">
                                    <i class="fa fa-plus text-secondary m-3 p-4"></i>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </label>
                
                    <input type="file" id="deli_boy_upload" class="d-none" accept="image/jpeg, image/png" name="delivery-image" onchange="displayDeliveryBoyImage(event)">
                </div>
            </div>
        </div>
        
        
          <div class="col-lg-7">
            <div class="form-group">
              <label class="form-control-label" for="input-fullname">Full Name</label>
              <input type="text" id="input-fullname" class="form-control form-control-alternative" placeholder="Enter full name" name="fullname" autocomplete="off" value="{{ data.fullname|default:'' }}"  required>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-primary-contact">Primary Contact Number</label>
              <input type="number" id="input-primary-contact" class="form-control form-control-alternative" placeholder="Enter primary contact number" name="primaryno" value="{{ data.primaryno|default:'' }}"  required>
            </div>
          </div>
          
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
                <label for="date-of-birth" class="form-control-label">Date of Birth</label>
                <input class="form-control form-control-alternative" type="date"  id="date-of-birth" name="dateofbirth" value="{{ data.dateofbirth|date:'Y-m-d' }}" required>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-age">Age</label>
              <input type="number" id="input-age" class="form-control form-control-alternative" placeholder="Enter Age Here" name="age" value="{{ data.age|default:'' }}" >
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label" for="input-gender">Gender</label>
              <select class="form-control form-control-alternative" id="input-gender" name="gender">
                <option value="Male"  {% if data.gender == 'Male' %}selected{% endif %}>Male</option>
                <option value="Female" {% if data.gender == 'Female' %}selected{% endif %}>Female</option>
                <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option>
              </select>
            </div>
          </div>
          
          

        </div>
      </div>
      <hr class="my-4" />
      <!-- Address -->
      <h6 class="heading-small text-muted mb-4">Contact information</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-address">Address</label>
              <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address"  type="text" name="fulladdress" value="{{ data.fulladdress|default:'' }}"  required>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-country">Postal code</label>
              <input type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Postal code" name="pincode" value="{{ data.pincode|default:'' }}"  required>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-group">
              <label class="form-control-label" for="input-landmark">Nearest Landmark</label>
              <input id="input-landmark" class="form-control form-control-alternative" placeholder="Nearest landmark like car showroom,etc"  type="text" name="landmark" value="{{ data.landmark|default:'' }}"  required>
            </div>
          </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-control-label" for="input-aadharno">Aadhar Number</label>
                <input id="input-aadharno" class="form-control form-control-alternative" placeholder="Enter Aadhar Number"  type="number" name="aadharno" value="{{ data.aadharno|default:'' }}"  required>
              </div>
            </div>
            
          </div>
          
      </div>
      

      <div class="row justify-content-end p-4 mt--1">
        <div class="col-lg-2">
        {% if data %}
        <button type="submit" class="btn btn-primary my-4">Update Delivery Agent </button>
        {% else %}
        <button type="submit" class="btn btn-primary my-4">Add New Delivery Agent</button>
        {% endif %}
    </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>


<script>
    //Calculate Age when dob is selected
document.addEventListener('DOMContentLoaded', function () {
    // Get references to the date of birth and age input fields
    const dateOfBirthInput = document.getElementById('date-of-birth');
    const ageInput = document.getElementById('input-age');

    // Attach an event listener to the date of birth input field
    dateOfBirthInput.addEventListener('input', function () {
        // Get the selected date of birth
        const dateOfBirth = new Date(dateOfBirthInput.value);

        // Calculate the age
        const today = new Date();
        const age = today.getFullYear() - dateOfBirth.getFullYear();

        // Update the age input field with the calculated age
        ageInput.value = age;
    });
});

</script>

<script>
  function displayDeliveryBoyImage(event) {
      const file = event.target.files[0];
      if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            const imageCard = document.getElementById('imageCardDelivery');
            imageCard.innerHTML = `<img src="${e.target.result}" alt="delivery-image" class="w-100 border-radius-lg shadow-sm">`;
          };
          reader.readAsDataURL(file);
      }
  }
</script>



{% endblock %}
