{% extends "base/base.html" %}
{% load static %}
{% block title %}Add Stock Details{% endblock title%}
{% block content %}

  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>Intial Stock Details - For Product [{{product_name}}] / Color: [{{color_name}}]</h6>
            
          </div>
          <!-- Action Buttons  -->
          
          <!-- Action Buttons End  -->
          <div class="card-body px-0 pt-0 pb-2">
            <form method="post" action="{% url 'clothing_dashboard_app:attach_to_inventory_stock' product_id color_id %}">
                {% csrf_token %}
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0  table-hover">
                <thead class="bg-light">
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sl No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Size Value</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Available Stock</th>
                    
                    {% comment %} <th class="text-secondary opacity-7"></th> {% endcomment %}
                  </tr>
                </thead>
                {% if not query_result%}
                <div class="alert alert-info alert-dismissible m-4 fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                  <span class="alert-text text-white"><strong>Info!</strong> {{error_msg}}!</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% else %}
                <tbody >
                  {% for row in query_result %}
                  <tr>
                    <td>
                        <p class="text-xs text-secondary mb-0 text-center">{{forloop.counter}}</p>
                    </td>
                    <td>
                      <h1 class="text-xs font-weight-bold mb-0"> <strong> #{{row.size_id}}</strong> [ {{row.size_name}} ]</h1>
                    </td>
                     <!-- Add a cell for available_quantity input -->
                    <td>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-available-quantity-{{ row.size_id }}">Available Stock Quantity</label>
                                    <input type="number" id="input-available-quantity-{{ row.size_id }}" class="form-control form-control-alternative" placeholder="Enter Quantity" name="available_quantity_{{ row.size_id }}" autocomplete="off" required>
                                </div>
                            </div>
                        </div>
                    </td>
                      
                    
                    
                    {% comment %} <td class="align-middle">
                        <div class="row">
                            
                            <div class="col">
                                <a href="" class=" text-primary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal-default{{row.productid}}"> 
                                    Add to Stock List
                                  </a>
                            </div>
                            
                            
                            {% comment %}
                            <!-- <div class="col">
                                <a href="" class="text-danger font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal-default{{row.usrid}}">
                                    Delete
                                  </a>
                            </div> -->
                            
                        </div>
                    </td> {% endcomment %}

                  </tr>

                  <div class="col-md-4">
                    
                    <div class="modal fade" id="modal-default{{row.productid}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">List Product in Stock </h6>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <form  method="post">
                            {% csrf_token %}
                          <div class="modal-body">
                            <div class="alert  m-4" role="alert">
                              <strong>Alert! [ {{row.product_name}} ]</strong>
                              With Color <strong>{{row.color_name}}</strong> will be listed in Stock To Manage
                          </div>
                            
                          </div>
                          <div class="modal-footer">
                            
                              <button type="submit" class="btn bg-gradient-success">Add</button>
                            
                            
                            <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $(document).ready(function() {
    // Search functionality
    $('#employee-name-search').on('keyup', function() {
      var searchText = $(this).val().toLowerCase(); // Get the search query and convert to lowercase

      // Loop through each table row
      $('tbody tr').each(function() {
        var name = $(this).find('td:eq(1) h6').text().toLowerCase(); // Get the name column content
        var mobNo = $(this).find('td:eq(1) p').text().toLowerCase(); // Get the mobile number column content

        // Check if the search query matches the name or mobile number
        if (name.includes(searchText) || mobNo.includes(searchText)) {
          $(this).show(); // If there's a match, show the row
        } else {
          $(this).hide(); // If no match, hide the row
        }
      });
    });
  });
</script>
{% endblock  %}
