{% extends "common/base.html" %} {% load static %} {% block title %}All 
Offers{%endblock title%} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between">
          <h6>All Offers</h6>
          <div class="row justify-content-center align-items-center p-1">
            <a href="" data-bs-toggle="modal" data-bs-target="#modal-default1">
              <span class="badge badge-sm bg-gradient-success">
                <i class="fa-solid fa-user-plus"></i>
                Add New Offer</span
              >
            </a>
          </div>
        </div>
        <!-- Action Buttons  -->

        <!-- Add Offer  -->
        <div class="col-md-4">
          <div
            class="modal fade"
            id="modal-default1"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modal-default"
            aria-hidden="true"
          >
            <div
              class="modal-dialog modal- modal-dialog-centered modal-"
              role="document"
            >
              <div class="modal-content">
                <!-- <div class="modal-header">
            <h6 class="modal-title" id="modal-title-default">Add Expense</h6>
            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div> -->
                <form
                  method="post"
                  action="{% url 'dashboard_app:add_new_offer' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <h6 class="heading-small text-muted mb-4">Add New Offer</h6>
                    <div class="pl-lg-4">
                      <div class="row">
                        <div class="col">
                          <div class="col m-2">
                            <div class="form-group">
                              <div
                                class="avatar avatar-xl position-relative"
                                id="input-profile"
                              >
                                <label
                                  for="image_upload"
                                  class="avatar-img-label cursor-pointer"
                                >
                                  {% if data.profile_img %}
                                  <div class="row">
                                    <div class="col mt-4">
                                      <div class="card mb-4 shadow-lg">
                                        <img
                                          src=""
                                          alt="profile_image"
                                          class="w-100 border-radius-lg shadow-sm"
                                        />
                                      </div>
                                    </div>
                                  </div>
                                  {% else %}
                                  <div class="row">
                                    <div class="col mt-4">
                                      <div
                                        class="card mb-4 shadow-lg d-flex"
                                        id="imageCard"
                                      >
                                        <i
                                          class="fa fa-plus text-secondary m-3 p-4"
                                        ></i>
                                      </div>
                                    </div>
                                  </div>
                                  {% endif %}
                                </label>
                                <input
                                  type="file"
                                  id="image_upload"
                                  class="d-none"
                                  accept="image/jpeg, image/png"
                                  name="profile-image1"
                                  onchange="displayImage(event)"
                                />
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-offer-title"
                              >Offer Title</label
                            >
                            <input
                              type="text"
                              id="input-offer-title"
                              class="form-control form-control-alternative"
                              placeholder="Enter Offer Title"
                              name="title_offer"
                              value=""
                            />
                          </div>

                          <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-offer-description"
                              >Offer Description</label
                            >
                            <input
                              type="text"
                              id="input-offer-description"
                              class="form-control form-control-alternative"
                              placeholder="Enter Offer Description"
                              name="title_description"
                              value=""
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn bg-gradient-success">
                      Create
                    </button>

                    <button
                      type="button"
                      class="btn btn-link ml-auto"
                      data-bs-dismiss="modal"
                    >
                      Cancel
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Offer End  -->

        <!-- Action Buttons End  -->
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table
              class="table table-bordered align-items-center mb-0 table-hover"
            >
              <thead class="bg-light">
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Date
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Title
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    Description
                  </th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              {% if not query_result%}
              <div
                class="alert alert-info alert-dismissible m-4 fade show"
                role="alert"
              >
                <span class="alert-icon text-white"
                  ><i class="ni ni-like-2"></i
                ></span>
                <span class="alert-text text-white"
                  ><strong>Info!</strong> {{error_msg}}!</span
                >
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <tbody>
                {% for row in query_result %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <p class="mb-0 text-xs text-center">{{row.date}}</p>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{row.title}}
                    </p>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{row.description}}
                    </p>
                  </td>

                  <td class="align-middle text-center text-sm">
                    {% if row.is_active == 1 %}
                    <span class="badge badge-sm bg-success"> Active </span>
                    {% else %}
                    <span class="badge badge-sm bg-danger"> Not Active </span>
                    {% endif %}
                  </td>

                  {% if row.is_active == 1%}
                  <td class="align-middle">
                    <div class="row">
                      <div class="col">
                        <a
                          href=""
                          class="text-danger font-weight-bold text-xs"
                          data-toggle="tooltip"
                          data-original-title="Edit user"
                        >
                          Deactivate
                        </a>
                      </div>
                    </div>
                  </td>
                  {% else %}
                  <td class="align-middle">
                    <div class="row">
                      <div class="col">
                        <a
                          href=""
                          class="text-success font-weight-bold text-xs"
                          data-toggle="tooltip"
                          data-original-title="Edit user"
                        >
                          Activate
                        </a>
                      </div>
                    </div>
                  </td>
                  {% endif %}
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  const imageInput = document.getElementById("image_upload");
  const imageDiv = document.getElementById("input-profile");

  imageDiv.addEventListener("click", () => {
    // imageInput.click();
  });

  imageInput.addEventListener("change", (e) => {
    const file = e.target.files[0];
    // Optionally display the selected image, e.g., for preview
    if (file) {
      const reader = new FileReader();
      reader.onload = (event) => {
        imageDiv.getElementsByTagName("img")[0].src = event.target.result;
      };
      reader.readAsDataURL(file);
    }
  });
</script>


<script>
  $(document).ready(function () {
    $("form").submit(function (event) {
      // Prevent the default form submission
      event.preventDefault();

      // Get values of title and description inputs
      var title = $("#input-offer-title").val();
      var description = $("#input-offer-description").val();
      var image = $("#image_upload")[0].files[0];

      // Check length of title and description
      if (title.length > 25 || description.length > 50) {
        // Show a toast message for exceeding character limits
        showToast(
          "Alert",
          "Title should be within 25 characters and Description within 50 characters"
        );
      } else if (!image) {
        showToast('Alert',"Please select an image");
      } else {
        // If within character limits, proceed with form submission
        // Get the value of the profile-image1 input
      const profileImage = document.querySelector('input[name="profile-image1"]').value;

      // Log the value (you can perform further operations or validations here)
      console.log('Profile Image:', profileImage);
      //event.preventDefault();
        this.submit();
      }
    
    });

    // Function to show a toast message
    function showToast(message, bodyContent) {
      toastr.warning(bodyContent, message, {
        positionClass: "toast-top-center",
        timeOut: 5e3,
        closeButton: !0,
        debug: !1,
        newestOnTop: !0,
        progressBar: !0,
        preventDuplicates: !0,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
        tapToDismiss: !1,
      });
      // Get the toast element and its content
      /*var toastElement = document.getElementById("liveToast");
      var toastBody = toastElement.querySelector(".toast-body");
  
      // Update the toast content with the provided message and body content
      toastBody.textContent = bodyContent;
  
      // Show the toast
      var toast = new bootstrap.Toast(toastElement);
      toast.show();*/
    }
  });
</script>
{% endblock %}
