{% extends "common/base.html" %} {% load static %} 
{% block title %}
Branches
{% endblock title%}
{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between">
          <h6>Main Branches</h6>
          <div class="row justify-content-center align-items-center p-1">
            <a href="{% url 'dashboard_app:add_branch_details' %}">
              <span class="badge badge-sm bg-gradient-success">
                <i class="fa-solid fa-user-plus"></i>
                Add New Branch</span
              >
            </a>
          </div>
        </div>
        <!-- Action Buttons  -->

        <!-- Action Buttons End  -->
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table table-bordered align-items-center mb-0  table-hover">
              <thead class="bg-light">
                <tr>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                  >
                    #
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                    Branch Details
                  </th>
                  <th
                    class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                  >
                  Owner Details
                  </th>
                  <th
                    class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                    Status
                  </th>

                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              {% if not query_result%}
              <div
                class="alert alert-info alert-dismissible m-4 fade show"
                role="alert"
              >
                <span class="alert-icon text-white"
                  ><i class="ni ni-like-2"></i
                ></span>
                <span class="alert-text text-white"
                  ><strong>Info!</strong> {{error_msg}}!</span
                >
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% else %}
              <tbody  style="height: 360px; min-height: 41vh !important">
                {% for row in query_result %}
                <tr>
                  <td>
                    <p class="text-xs font-weight-bold mb-0 text-center">
                      {{ forloop.counter }}
                    </p>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">
                      {{row.branch_name}}
                    </p>
                    <p class="text-xs font-weight-bold mb-0">
                      {{row.branch_address}}
                      {{row.branch_city}}
                    </p>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="{{row.profile_img}}" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{row.owner_name}}</h6>
                        <p class="text-xs text-secondary mb-0">  {{row.address}}
                          {{row.city}}-{{row.pincode}}</p>
                      </div>
                    </div>
                  </td>
                  

                  <td class="align-middle text-center text-sm">
                    {% if row.branch_status == 1 %}
                    <span class="badge badge-sm bg-success"> Active </span>
                    {% else %}
                    <span class="badge badge-sm bg-danger"> InActive </span>
                    {% endif %}
                  </td>
                  <td class="align-middle">
                    <div class="row">
                      <div class="col">
                        <a
                          href="{% url 'dashboard_app:update_branch_details' row.branchid row.owner_id%}"
                          class="text-secondary font-weight-bold text-xs"
                          data-toggle="tooltip"
                          data-original-title="Edit user"
                        >
                          Edit
                        </a>
                      </div>
                      {% comment %}
                      <div class="col">
                        <a
                          href=""
                          class="text-danger font-weight-bold text-xs"
                          data-bs-toggle="modal"
                          data-bs-target="#modal-default{{row.expcatid}}"
                        >
                          Delete
                        </a>
                      </div>
                      {% endcomment %}
                    </div>
                  </td>
                </tr>

                <div class="col-md-4">
                  <div
                    class="modal fade"
                    id="modal-default{{row.expcatid}}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="modal-default"
                    aria-hidden="true"
                  >
                    <div
                      class="modal-dialog modal- modal-dialog-centered modal-"
                      role="document"
                    >
                      <div class="modal-content">
                        <div class="modal-header">
                          <h6 class="modal-title" id="modal-title-default">
                            Are you sure you want to delete this category?
                          </h6>
                          <button
                            type="button"
                            class="btn-close text-dark"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <div class="alert m-4" role="alert">
                            <strong>Alert! </strong>{{row.category_name}} will
                            be deleted permanantely!
                          </div>
                        </div>
                        <div class="modal-footer">
                          <form action="" method="post">
                            {% csrf_token %}
                            <button
                              type="submit"
                              class="btn bg-gradient-danger"
                            >
                              Delete
                            </button>
                          </form>

                          <button
                            type="button"
                            class="btn btn-link ml-auto"
                            data-bs-dismiss="modal"
                          >
                            Cancel
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  // Show/hide the tax percentage input when the "YES" radio button is selected
  $('input[name="taxIncluded"]').change(function () {
    if ($("#taxYes").is(":checked")) {
      $("#taxPercentageInput").show();
    } else {
      $("#taxPercentageInput").hide();
    }
  });
</script>
{% endblock %}
