{% extends 'base_pages/without_nav_base.html' %}
{% load static %}
{% block content %}

<div class="page-header text-center" style="background-image: url('/static/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'united_armor:home' %}">Home</a></li>
            
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            {% if not query_result %}
            <div class="alert alert-info alert-dismissible m-4 fade show" role="alert">
                <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                <span class="alert-text text-white"><strong>Info!</strong> {{error_msg}}!</span>
                
            </div>
            {% else %}
            <form id="billing-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-9">
                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                            <div class="row">
                                <div class="col-sm-8">
                                    <label>Full Name *</label>
                                    <input type="text" class="form-control" value="{{ customer_name|default:'' }}" name="full_name" required>
                                </div><!-- End .col-sm-6 -->

                                
                            </div><!-- End .row -->

                            

                            <label>Country *</label>
                            <input type="text" class="form-control" value="India" name="country" required>

                            <label>Street address *</label>
                            <input type="text" class="form-control" placeholder="House number and Street name"  value="{{ address1|default:'' }}" name="street_address_1" required>
                            <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." value="{{ address2|default:'' }}" name="street_address_2" required>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Town / City *</label>
                                    <input type="text" class="form-control" value="{{ city_name|default:'' }}" name="town_city" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>State *</label>
                                    <input type="text" class="form-control" value="{{ state|default:'' }}" name="state_county" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Postcode / ZIP *</label>
                                    <input type="text" class="form-control"  value="{{ pincode|default:'' }}" name="postcode_zip" required>
                                </div><!-- End .col-sm-6 -->

                                <div class="col-sm-6">
                                    <label>Phone *</label>
                                    <input type="tel" class="form-control" value="{{ mobno|default:'' }}" name="phone" required>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->


                            <label>Order notes (optional)</label>
                            <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery" name="order_notes"></textarea>
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary" id="cart-table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for row in query_result %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'united_armor:product' row.product_id %}">{{row.product_name}}</a>
                                            <input type="hidden" id="cart-id"  class="cart-id" value="{{row.cart_id}}">
                                            <input type="hidden" id="product-id"  class="product-id" value="{{row.product_id}}">
                                            <input type="hidden" id="color-id"  class="color-id" value="{{row.color_id}}">
                                            <input type="hidden" id="size-id"  class="size-id" value="{{row.size_id}}">
                                            <input type="hidden" id="quantities"  class="quantities" value="{{row.quantity}}">
                                        </td>
                                        <td>₹{{row.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹0.0</td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>₹0.0</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                           

                            <!-- Add payment method radio buttons -->
                            <h3 class="summary-title">Payment Method</h3>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        
                                <label><input type="radio" name="payment_method" value="cod"> Cash on Delivery</label> 
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        
                                        <label><input type="radio" name="payment_method" value="razorpay"> Razorpay</label>
                                    </div>
                                </div>
                                
                                
                            </div>
                            
                            

                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed & Place Order</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
            {% endif %}
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $(document).ready(function() {
        // Function to calculate subtotal and total
        function calculateTotal() {
            var subtotal = 0;

            // Iterate through each row in the table
            $('#cart-table tbody tr').each(function() {
                // Extract the price value from the second column of each row
                var price = parseFloat($(this).find('td:nth-child(2)').text().replace('₹', ''));

                // Check if the extracted value is a valid number
                if (!isNaN(price)) {
                    subtotal += price;
                }
            });

            // Update the Subtotal in the summary
            $('.summary-subtotal td:nth-child(2)').text('₹' + subtotal.toFixed(2));

            // Assume shipping is free, so it does not contribute to the total
            var shipping = 0;

            // Calculate the total by adding subtotal and shipping
            var total = subtotal + shipping;

            // Update the Total in the summary
            $('.summary-total td:nth-child(2)').text('₹' + total.toFixed(2));
        }

        // Initial calculation on page load
        calculateTotal();
    });
</script>

<script>
    $(document).ready(function() {
        let payment_id = '-1'
        // Get the CSRF token from the cookie
        function getCSRFToken() {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("csrftoken=")) {
                    return cookie.substring("csrftoken=".length, cookie.length);
                }
            }
            return null;
        }
        // Validate the form and submit using AJAX
        $('#billing-form').submit(function(e) {
            e.preventDefault(); // Prevent the form from submitting traditionally

            // Validate the form
            if (!validateForm()) {
                return false;
            }

            // Check if a payment method is selected
            var paymentMethod = $('input[name="payment_method"]:checked').val();
            if (!paymentMethod) {
                alert('Please select a payment method.');
                return false;
            }

            // Check the selected payment method
            if (paymentMethod === 'cod') {
                // AJAX request for Cash on Delivery
                submitOrderAjax(payment_id);
            } else if (paymentMethod === 'razorpay') {
                // Show Razorpay options (You need to implement this part)
                var totalAmountWithSymbol = $('#cart-table tbody tr.summary-total td:eq(1)').text();

                // Replace the Rupees symbol and extract the numeric value
                var totalAmountToPay = parseFloat(totalAmountWithSymbol.replace('₹', '').trim());
        
                payment_show(totalAmountToPay);
            }
        });

        // Function to validate the form
        function validateForm() {
            
            var isValid = true;
        
            // Iterate through each visible input field
            $('#billing-form input:visible').each(function() {
                var value = $(this).val().trim();
                if (value === '' || value.toUpperCase() === 'NA' || value === '-1') {
                    alert($(this).prev('label').text() + ' cannot be empty or equal to "NA" or "-1".');
                    isValid = false;
                    return false; // Break the loop if validation fails for any field
                }
            });
        
            return isValid;
        }

        function payment_show(totalPayment){
            console.log('PaytotalPayment::'+totalPayment);
            var options = {
        
                "key": "rzp_test_qtHIWapeUEAAZO",//Live rzp_live_SeGnLgb5JnY8Id // Enter the Key ID generated from the Dashboard rzp_test_qtHIWapeUEAAZO
                "amount": (totalPayment * 100), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "United Armor", //your business name
                "description": "The Clothing Brand",
                "image": "https://vffgroup.in/static/assets/images/demos/demo-9/logo-footer.png",
                "handler": function (response){
                    payment_id =  response.razorpay_payment_id;
                    submitOrderAjax(payment_id);
                },
                "notes": {
                    "address": "Tilakwadi"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response){
                  //  alert(response.error.code);
                    alert(response.error.description);
                    //alert(response.error.source);
                    //alert(response.error.step);
                    //alert(response.error.reason);
                   // alert(response.error.metadata.order_id);
                    //alert(response.error.metadata.payment_id);
            });
            rzp1.open();
            /*document.getElementById('pay-button').onclick = function(e){
                rzp1.open();
                e.preventDefault();
            }*/
        }
        // Function to handle AJAX request for Cash on Delivery
        function submitOrderAjax(payment_id) {
            // Get all cart ids
            var cartIds = [];
            $('.cart-id').each(function() {
                cartIds.push($(this).val());
            });
            var productIds = [];
            $('.product-id').each(function() {
                productIds.push($(this).val());
            });
            var colorIds = [];
            $('.color-id').each(function() {
                colorIds.push($(this).val());
            });
            var sizeIds = [];
            $('.size-id').each(function() {
                sizeIds.push($(this).val());
            });
            var quantities = [];
            $('.quantities').each(function() {
                quantities.push($(this).val());
            });
            var totalAmountWithSymbol = $('#cart-table tbody tr.summary-total td:eq(1)').text();

            // Replace the Rupees symbol and extract the numeric value
            var totalAmount = parseFloat(totalAmountWithSymbol.replace('₹', '').trim());
            const csrfToken = getCSRFToken();
            // Add the payment_id to the form data
            var formData = $('#billing-form').serialize();

            // Add additional data
            formData += '&payment_id=' + encodeURIComponent(payment_id);
            formData += '&total_amount=' + encodeURIComponent(totalAmount);
            formData += '&cart_ids=' + encodeURIComponent(cartIds.join(',')); // Assuming cartIds is an array
            formData += '&product_ids=' + encodeURIComponent(productIds.join(',')); // Assuming productIds is an array
            formData += '&color_ids=' + encodeURIComponent(colorIds.join(',')); // Assuming colorIds is an array
            formData += '&size_ids=' + encodeURIComponent(sizeIds.join(',')); // Assuming sizeIds is an array
            formData += '&quantity_list=' + encodeURIComponent(quantities.join(',')); // Assuming quantities is an array

            // AJAX request to send form data
            $.ajax({
                type: 'POST',
                url: '/united_armor/place_order/', // Replace with your server endpoint
                data: formData, // Serialize the form data
                
                success: function(response) {
                    // Handle success response
                    console.log(response);
                    if (response.message === "success") {
                        // Show the success modal
                        $('#successModal').modal({
                            backdrop: 'static',  // To make the modal non-cancellable on click outside
                            keyboard: false  // To make the modal non-cancellable by pressing Esc key
                        });
                        return;
                    }else{
                        showToast('Alert','Oops Something went Wrong');
                        return;
                    }
                },
                error: function(error) {
                    // Handle error
                    console.error(error);
                }
            });
        }

        function showToast(message, bodyContent) {
            toastr.info(bodyContent, message, {
                positionClass: "toast-bottom-right",
                timeOut: 5e3,
                closeButton: !0,
                debug: !1,
                newestOnTop: !0,
                progressBar: !0,
                preventDuplicates: !0,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
                tapToDismiss: !1
        })
        }

    });
</script>



{% endblock %}