{% extends "base_gym/base.html" %}
{% load static %}
{% block title %}All Due Fees{% endblock title%}
{% block content %}

  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>All Due Fees</h6>
            
          </div>
          <!-- Action Buttons  -->
          
          

          <!-- Action Buttons End  -->
          <div class="card-body px-0 pt-0 pb-2">
            
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0  table-hover">
                <thead class="bg-light">
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sl No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Member Details</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Plan Details</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Amount</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2 text-center">Due Date</th>
                    
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                {% if not query_result%}
                <div class="alert alert-info alert-dismissible m-4 fade show" role="alert">
                  <span class="alert-icon text-white"><i class="ni ni-like-2"></i></span>
                  <span class="alert-text text-white"><strong>Info!</strong> {{error_msg}}!</span>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {% else %}
                <tbody >
                  {% for row in query_result %}
                  <tr>
                    <td>
                        <p class="text-xs text-secondary mb-0">{{forloop.counter}}</p>
                    </td>
                    <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{row.profile_img}}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{row.member_name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{row.mobno}}</p>
                            <small class="text-xxs text-secondary mb-0">Join Date: {{row.join_date}}</small>
                          </div>
                        </div>
                      </td>

                      <td>
                        <div class="d-flex px-2 py-1">
                          
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{row.plan_name}}</h6>
                            
                            <p class="align-middle text-center text-sm">
                                {% if row.cardio == 1 %}
                                <span class="badge badge-sm bg-success">
                                    {{row.duration_in_months}} [With Cardio]
                                </span>
                              {% else %}
                                  <span class="badge badge-sm bg-warning">
                                    {{row.duration_in_months}} [WithOut Cardio]
                                  </span>
                              {% endif %}
                                
                            </p>
                          </div>
                        </div>
                      </td>

                    <td>
                      <p class="text-xs font-weight-bold mb-0">₹.{{row.price}}/-</p>
                      
                      
                    </td>
                    <td>
                        <p class="text-xs font-weight-bold mb-0 text-center">{{row.fees_date}}</p>
                        
                      </td>
                      
                    
                    
                    <td class="align-middle">
                        <div class="row">
                            <div class="col">
                                
                                <a href="" class="text-success font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal-default{{row.member_id}}">
                                    Make Payment
                                  </a>
                            </div>
                            <!-- <div class="col">
                                <a href="" class="text-danger font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal-default{{row.usrid}}">
                                    Delete
                                  </a>
                            </div> -->
                        </div>
                      
                      
                    </td>
                  </tr>

                  <div class="col-md-4">
                    
                    <div class="modal fade" id="modal-default{{row.member_id}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                      <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h6 class="modal-title" id="modal-title-default">Making Payment For Member [{{row.member_name}}]  </h6>
                            <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                          </div>
                          <form
                          method="post"
                        >
                          {% csrf_token %}
                          <div class="modal-body">
                            
                            
                            <div class="form-group">
                                <label for="price">Amount to pay</label>
                                <input type="number" class="form-control" id="price" name="plan_price" placeholder="Enter Plan Price" value="{{row.price}}"  disabled>
                            </div>
                            
                            
        
                            <div class="form-group">
                                <label for="duration">Duration In Months</label>
                                <input type="text" class="form-control" id="duration" name="duration_in_months"  value="{{row.duration_in_months}}"  disabled>
                            </div>

                            <div class="row">
              
                                <div class="col-lg-6">
                                  <div class="form-group">
                                    <label
                                      class="form-control-label"
                                      for="input-paymentmode"
                                      >Payment Mode</label
                                    >
                                    <select
                                      class="form-control form-control-alternative"
                                      id="input-paymentmode"
                                      name="payment_mode"
                                      required
                                    >
                                      <option disabled selected>
                                        Choose Payment Mode
                                      </option>
                                      <option value="Cash">Cash</option>
                                      <option value="UPI">UPI</option>
                                      <option value="Card">Card</option>
                                      <option value="Cheque">Cheque</option>
                                      <option value="Bank Transfer">
                                        Bank Transfer
                                      </option>
                                      <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                                    </select>
                                  </div>
                                </div>
                                
                  
                                </div>
                                <div class="row">
                                  <div class="col-lg-6">
                                      <div class="form-group" id="payment-id-container" style="display: none;">
                                          <label class="form-control-label" for="input-paymentid">Payment ID</label>
                                          <input class="form-control form-control-alternative" type="text" id="input-paymentid" name="payment-id" disabled>
                                      </div>
                                  </div>
                              </div>

                            <div class="form-group">
                                <button type="button" class="btn bg-gradient-success makePaymentBtn">Make Payment</button>
                            </div>

                             <!-- Dropdown for fees plans -->
            <div class="form-group">
                <label for="feesPlanDropdown">Choose a Plan</label>
                <select class="form-control" id="feesPlanDropdown" name="fees_plan_id">
                    <!-- Options will be populated dynamically -->
                </select>
                <!-- Hidden input for selected plan ID -->
                <input type="hidden" id="selectedPlanId" name="selected_plan_id">
            </div>


                        </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn bg-gradient-success">Update</button>
                            <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Cancel</button>
                          </div>
                        </form>

                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $(document).ready(function () {
        // Add an event listener to the search input field
        $('#employee-name-search').on('input', function () {
            applyFilters();
        });

       
        function applyFilters() {
          // Get the user's search input
          var userSearch = $('#employee-name-search').val().toLowerCase();
      
          // Loop through the table rows and hide/show them based on the filters
          $('.table tbody tr').each(function () {
              var userName = $(this).find('td:first h6').text().toLowerCase();
              var userMobile = $(this).find('td:first p.text-xs').text();
      
              if (
                  userName.includes(userSearch) || userMobile.includes(userSearch) || userSearch === ''
              ) {
                  $(this).show();
              } else {
                  $(this).hide();
              }
          });
      }
      
      });
</script>

<script>
    var payment_id = "";
var paymentType = "";
var order_status = ""; // Order Status
var payment_status = ""; // Payment Status
    $(document).ready(function() {

        //Make Payment Button and fetch gym plans
        $(".makePaymentBtn").on("click", function() {
            // Prevent form submission
            $(this).closest("form").submit(function(e) {
                e.preventDefault();
            });

            var planPrice = $('#price').val();

            // Parse the value to float
            var totalPayment = parseFloat(planPrice);

            // Trigger Razorpay payment
            var options = {
                "key": "rzp_test_qtHIWapeUEAAZO", // Enter the Key ID generated from the Dashboard rzp_test_qtHIWapeUEAAZO
                "amount": (totalPayment * 100), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "VFF Group", //your business name
                "description": "Gym Fees",
                "image": "https://vff-group.com/static/images/logo.png",
                // Other options...
                handler: function(response) {
                    payment_id =  response.razorpay_payment_id;
                    order_status = "Payment Done";
                    payment_status = "Success";
                    $('#input-paymentid').val(payment_id);
                    disableElements();
                    const csrfToken = getCSRFToken();
                    $.ajax({
                        url: '/gym_dashboard_app/fetch_fees_plans/', // URL to fetch fees plans
                        type: 'POST',
                        headers: {
                            'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
                        },
                        contentType: 'application/json',
                        success: function(data) {
                            // Handle successful response and load fees plans
                             // Get the dropdown element
                            var feesPlanDropdown = $('#feesPlanDropdown');
                                                
                            // Clear existing options (if any)
                            feesPlanDropdown.empty();
                            console.log('data::'+data);
                            // Populate dropdown with fetched plans
                            $.each(data.fees_data, function(index, subSection) {
                                var cardio = subSection.cardio;
                                var isCardio = "Without Cardio"
                                if(cardio == 1){
                                    isCardio ="With Cardio"
                                }
                                feesPlanDropdown.append($('<option>', {
                                    value: subSection.id,
                                    text: subSection.name+" ["+isCardio+"]"+"\nDuration: "+subSection.duration+"\nPrice:"+subSection.price,
                                }));
                            });
                        
                            // Update hidden input with the default selected plan ID (optional)
                            $('#selectedPlanId').val(data[0].id); // Set the first plan ID as default
                        },
                        error: function(xhr, status, error) {
                            // Handle error
                            console.log(error);
                        }
                    });
               
                },
                "notes": {
                    "address": "Tilakwadi"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp = new Razorpay(options);
            rzp.open(); // Open Razorpay payment window
        });
   
      
    });

    $(document).ready(function() {
        // Event listener for change in payment mode dropdown
        $('#input-paymentmode').change(function() {
            var selectedMode = $(this).val(); // Get the selected value
    
            // Toggle visibility of payment ID container based on selected mode
            if (selectedMode === 'Cash') {
                $('#payment-id-container').hide(); // Hide container for Cash mode
                const csrfToken = getCSRFToken();
                $.ajax({
                    url: '/gym_dashboard_app/fetch_fees_plans/', // URL to fetch fees plans
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
                    },
                    contentType: 'application/json',
                    success: function(data) {
                        // Handle successful response and load fees plans
                         // Get the dropdown element
                        var feesPlanDropdown = $('#feesPlanDropdown');
                                            
                        // Clear existing options (if any)
                        feesPlanDropdown.empty();
                        console.log('data::'+data);
                        // Populate dropdown with fetched plans
                        $.each(data.fees_data, function(index, subSection) {
                            var cardio = subSection.cardio;
                            var isCardio = "Without Cardio"
                            if(cardio == 1){
                                isCardio ="With Cardio"
                            }
                            feesPlanDropdown.append($('<option>', {
                                value: subSection.id,
                                text: subSection.name+" ["+isCardio+"]<br>Duration: "+subSection.duration+"<br>Price:"+subSection.price,
                            }));
                        });
                    
                        // Update hidden input with the default selected plan ID (optional)
                        $('#selectedPlanId').val(data[0].id); // Set the first plan ID as default
                    },
                    error: function(xhr, status, error) {
                        // Handle error
                        console.log(error);
                    }
                });
           
            } else {
                $('#payment-id-container').show(); // Show container for other modes
            }
        });
    });

    function disableElements() {
        // Disable "Pay Now" button
        $(".makePaymentBtn").prop("disabled", true);
        
        // Disable payment mode select dropdown
        $("#input-paymentmode").prop("disabled", true);
        
        }
    // Get the CSRF token from the cookie
function getCSRFToken() {
    const cookies = document.cookie.split(';');
    for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.startsWith("csrftoken=")) {
            return cookie.substring("csrftoken=".length, cookie.length);
        }
    }
    return null;
  }
</script>

<!-- <script>
    var payment_id = $("#input-paymentid").val();
    // Event listener for the payment mode selection
$('#input-paymentmode').change(function() {
    var paymentMode = $(this).val();
    var paymentIdContainer = $('#payment-id-container');
    
    paymentType = paymentMode;
    console.log('paymentType::'+paymentType);
    // Check if the payment mode is 'Cash' and hide the 'Pay Now' button
    if (paymentMode === 'Cash') {
    order_status = "Payment Done";
    
    payment_status = "Success";
    //$('#pay-button').hide();
    //gstContainer.show();
    // If the payment mode is "Cash," hiding the payment ID container
    paymentIdContainer.hide();
    }else {
    //$('#pay-button').show();
    //gstContainer.hide();
    // If the payment mode is not "Cash," show the payment ID container
    paymentIdContainer.show();
    }
    });
    
    var paymentModeSelect = document.getElementById('input-paymentmode');

// Check if payment mode is not equal to 'Cash'
if (paymentModeSelect.value !== 'Cash' ) {
if (payment_id === '') {
  showToast('Alert', 'Please Pay before placing the order as you have selected Payment Mode Other than Cash');
  return;
}
}

// Function to disable elements
function disableElements() {
// Disable "Pay Now" button
$(".makePaymentBtn").prop("disabled", true);

// Disable payment mode select dropdown
$("#input-paymentmode").prop("disabled", true);

}
    
  // Function to show a toast message
  function showToast(message, bodyContent) {
    toastr.warning(bodyContent, message, {
      positionClass: "toast-top-right",
      timeOut: 5e3,
      closeButton: !0,
      debug: !1,
      newestOnTop: !0,
      progressBar: !0,
      preventDuplicates: !0,
      onclick: null,
      showDuration: "300",
      hideDuration: "1000",
      extendedTimeOut: "1000",
      showEasing: "swing",
      hideEasing: "linear",
      showMethod: "fadeIn",
      hideMethod: "fadeOut",
      tapToDismiss: !1
  })
      // Get the toast element and its content
      /*var toastElement = document.getElementById("liveToast");
      var toastBody = toastElement.querySelector(".toast-body");
  
      // Update the toast content with the provided message and body content
      toastBody.textContent = bodyContent;
  
      // Show the toast
      var toast = new bootstrap.Toast(toastElement);
      toast.show();*/
  }

</script> -->
{% endblock  %}
