{% extends "common/base.html" %}
{% load static %}
{% block title %}Payment Receipts{% endblock title%}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <h6>Payment Receipts</h6>
                <div class="row">
                  <div class="col-4">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label
                          for="start-date"
                          class="form-control-label text-secondary"
                          >Start Date</label
                        >
                        <input
                          class="form-control form-control-alternative"
                          type="date"
                          id="start-date"
                          required
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="col-lg-10">
                      <div class="form-group">
                        <label
                          for="end-date"
                          class="form-control-label text-secondary"
                          >End Date</label
                        >
                        <input
                          class="form-control form-control-alternative"
                          type="date"
                          id="end-date"
                          
                          required
                        />
                      </div>
                    </div>
                  </div>

                  <div class="col-4">
                    <button id="load-data" class="btn btn-primary btn-sm text-xxs mt-4">Load Data</button>
                  </div>
                  
                
                </div>
              </div>
              <!-- Action Buttons  -->

              <!-- Action Buttons End  -->
              <div class="card-body px-0 pt-0 pb-2 mt-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center"
                        >
                          #
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Date
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Order ID#
                        </th>
                        <th
                          class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                        >
                          Customer
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Amount
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Payment Type
                        </th>
                        <th
                          class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                        >
                          Note
                        </th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                      <tr></tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer px-4 pt-0 pb-2 mt-2">
                <div class="row">
                  <div class="col-4">
                    <small class="mb-2 text-dark" id="total-amount">Total Amount: Rs./-</small>
                  </div>
                  <div class="col-4">
                    <small class="text-dark" id="total-tax">Total Tax Amount: Rs./-</small>
                  </div>
                  <div class="col-4">
                    <button id="download-report" class="btn btn-success" style="display: none;">Download Receipts</button>
                    <button id="print-report" class="btn btn-warning ms-1" style="display: none;">Print Receipts</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.3/xlsx.full.min.js"></script>



<script>
// Add a click event handler for the "Download Report" button
$('#download-report').on('click', function () {
  generateExcel();
});

function generateExcel() {
  var table = document.getElementById('table-body');
  var footerData = document.querySelector('.card-footer');

  // Extract table headers from the <thead>
  var headers = [];
  var headerRow = table.closest('table').querySelector('thead').querySelector('tr');
  headerRow.querySelectorAll('th').forEach(function (cell) {
    headers.push(cell.textContent);
  });

  // Extract table data rows and store them in the 'rows' array
  var rows = [];
  table.querySelectorAll('tr').forEach(function (row) {
    var rowData = [];
    row.querySelectorAll('td').forEach(function (cell) {
      rowData.push(cell.textContent);
    });
    rows.push(rowData);
  });

  // Extract footer data
  var totalAmount = footerData.querySelector('.col-4:nth-child(1)').textContent.trim();
  var totalTaxAmount = footerData.querySelector('.col-4:nth-child(2)').textContent.trim();

  // Add the footer data to the last row of the table
  var footerRow = [];
  footerRow.length = headers.length;
  footerRow[headers.length - 2] = totalAmount; // Add totalAmount to the second last column
  footerRow[headers.length - 1] = totalTaxAmount; // Add totalTaxAmount to the last column
  rows.push(footerRow);

  // Create a worksheet with headers and data
  var worksheet = XLSX.utils.json_to_sheet([headers, ...rows]);

  // Create a workbook and add the worksheet
  var workbook = XLSX.utils.book_new();
  XLSX.utils.book_append_sheet(workbook, worksheet, 'Payment Receipt');

  // Get the customer name and order id from the first data row
  var customerName = rows.length > 1 ? rows[1][3] : 'UnknownCustomer';
  var orderId = rows.length > 1 ? rows[1][2] : 'UnknownOrderID';

  // Generate the Excel file name with customer name and order id
  var fileName = 'payment_receipt_' + customerName + '_' + orderId + '.xlsx';

  // Generate and download the Excel file
  XLSX.writeFile(workbook, fileName);
}


// Add an event listener to the "Print Receipts" button
var printButton = document.querySelector('#print-report');
printButton.addEventListener('click', function () {
  printableContent = generateHTMLTemplate();

    // Open a new window and write the printable content
    var printWindow = window.open('', '', 'width=800,height=600');
    printWindow.document.open();
    printWindow.document.write(printableContent); // Use the printableContent generated by generateHTMLTemplate
    printWindow.document.close();

    // Trigger the print operation
    printWindow.print();
    printWindow.close();
});


function generateHTMLTemplate() {
  var table = document.getElementById('table-body');
  var footerData = document.querySelector('.card-footer');

  // Extract table headers from the <thead>
  var headers = [];
  var headerRow = table.closest('table').querySelector('thead').querySelector('tr');
  headerRow.querySelectorAll('th').forEach(function (cell) {
    headers.push(cell.textContent);
  });

  // Extract table data rows and store them in the 'rows' array
  var rows = [];
  table.querySelectorAll('tbody tr').forEach(function (row) {
    var rowData = [];
    row.querySelectorAll('td').forEach(function (cell) {
      rowData.push(cell.textContent);
    });
    rows.push(rowData);
  });

  // Extract footer data
  var totalOrders = footerData.querySelector('.col-4:nth-child(1)').textContent.trim();
  var totalAmount = footerData.querySelector('.col-4:nth-child(2)').textContent.trim();

  // Create an HTML table with Bootstrap styling and borders
  var htmlTable =
    '<table style="width: 100%;" class="table table-bordered table-dark">' +
    '<thead>' +
    '<tr>';
  headers.forEach(function (header) {
    htmlTable += '<th style="border: 1px solid #dee2e6; padding: 8px; background-color: #343a40; color: white; font-weight: bold;" scope="col">' + header + '</th>';
  });
  htmlTable += '</tr>' +
    '</thead>' +
    '<tbody>';

  rows.forEach(function (rowData) {
    htmlTable += '<tr>';
    rowData.forEach(function (cell) {
      htmlTable += '<td  style="border: 1px solid #dee2e6; padding: 8px;">' + cell + '</td>';
    });
    htmlTable += '</tr>';
  });

  htmlTable += '</tbody>' +
    '</table>';

  // Create a div for the footer data with Bootstrap styling
  var footerDiv =
    '<div class="card-footer px-4 pt-0 pb-2 mt-2" style="background-color: #343a40; color: white; font-weight: bold; text-align: end; margin-top: 20px;">' +
    '<div class="row">' +
    '<div class="col-4">' +
    '<small class="mb-2 text-dark" style="margin-top:2px; margin-bottom:2px; color: #343a40;">' + totalOrders + '</small>' +
    '</div>' +
    '<div class="col-4"> ' +
    '<small class="text-dark" style="margin-top:2px; margin-bottom:2px; color: #343a40;">' + totalAmount + '</small>' +
    '</div>' +
    '</div>' +
    '</div>';

      // Get the selected start date and end date
    var selectedStartDate = document.getElementById('start-date').value;
    var selectedEndDate = document.getElementById('end-date').value;

   // Create a heading with center alignment
   var heading = '<h2 style="text-align: center; margin-bottom: 20px; color: #343a40;">Payment Receipts</h2>';
   // Display selected start date and end date
  var dateInfo = '<div style="text-align: center; margin-top: 5px; margin-bottom:5px;">Selected Start Date: ' + selectedStartDate + ' | Selected End Date: ' + selectedEndDate + '</div>';

  // Combine the table and footer data
  var htmlTemplate = heading+dateInfo+htmlTable + footerDiv;

  // Add top margin and align to fit A4 size
  var printableContent = '<div style="margin-top: 30px; max-width: 210mm;">' + htmlTemplate + '</div>';

  // You can now use the 'printableContent' as needed, such as inserting it into a specific element or displaying it.
  return printableContent;
}


/*
function generateHTMLTemplate() {
  var table = document.getElementById('table-body');
  var footerData = document.querySelector('.card-footer');

  // Extract table headers from the <thead>
  var headers = [];
  var headerRow = table.closest('table').querySelector('thead').querySelector('tr');
  headerRow.querySelectorAll('th').forEach(function (cell) {
      headers.push(cell.textContent);
  });

  // Extract table data rows and store them in the 'rows' array
  var rows = [];
  table.querySelectorAll('tr').forEach(function (row) {
      var rowData = [];
      row.querySelectorAll('td').forEach(function (cell) {
          rowData.push(cell.textContent);
      });
      rows.push(rowData);
  });

  // Extract footer data
  var totalAmount = footerData.querySelector('.col-4:nth-child(1)').textContent.trim();
  var totalTaxAmount = footerData.querySelector('.col-4:nth-child(2)').textContent.trim();

  // Create an HTML table with Bootstrap styling and borders
  var htmlTable = '<table class="table table-bordered table-dark">' +
                  '<thead>' +
                  '<tr>';
  headers.forEach(function (header) {
      htmlTable += '<th scope="col">' + header + '</th>';
  });
  htmlTable += '</tr>' +
              '</thead>' +
              '<tbody>';

  rows.forEach(function (rowData) {
      htmlTable += '<tr>';
      rowData.forEach(function (cell) {
          htmlTable += '<td>' + cell + '</td>';
      });
      htmlTable += '</tr>';
  });

  htmlTable += '</tbody>' +
              '</table>';

  // Create a div for the footer data
  var footerDiv = '<div class="card-footer px-4 pt-0 pb-2 mt-2">' +
                  '<div class="row">' +
                  '<div class="col-4">' +
                  '<small class="mb-2 text-dark">' + totalAmount + '</small>' +
                  '</div>' +
                  '<div class="col-4">' +
                  '<small class="text-dark">' + totalTaxAmount + '</small>' +
                  '</div>' +
                  '</div>' +
                  '</div>';

  // Combine the table and footer data
  var htmlTemplate = htmlTable + footerDiv;

  // Add top margin and align to fit A4 size
  var printableContent = '<div style="margin-top: 30px; max-width: 210mm;">' + htmlTemplate + '</div>';

  // You can now use the 'printableContent' as needed, such as inserting it into a specific element or displaying it.
  return printableContent;
}
*/

function generatePDF() {
  var doc = new jsPDF();
  doc.autoTable({ html: '#table-body' }); // Convert the HTML table to PDF

  // Get the order_id and customer name from the first row in the table
  var firstOrderId = $('#table-body tr:first td:nth-child(3)').text();
  var firstCustomer = $('#table-body tr:first td:nth-child(4)').text();

  // Create a file name that includes both order_id and customer name
  var fileName = 'payment_receipt_#' + firstOrderId + '_' + firstCustomer + '.pdf';

  // Save the PDF with the custom file name
  doc.save(fileName);
}


    $(document).ready(function () {
        $('#load-data').on('click', function () {
            var startDate = $('#start-date').val();
            var endDate = $('#end-date').val();

            if (startDate > endDate) {
                alert('Start date cannot be greater than end date');
                return;
            }

            $.ajax({
                url: `/admin_dashboard/load_payment_receipt/${startDate}/${endDate}/`,
                method: 'GET',
                success: function (data) {
                    // Clear existing table rows
                    console.log(JSON.stringify(data.data));

                    if(data.data.length === 0){
                                  // Show the buttons once data is loaded
        $('#download-report, #print-report').css('display', 'none');
                    }
                    var total_amount = parseFloat(data.total_amount);
                    var total_gst = parseFloat(data.total_gst);
                    var total_igst = parseFloat(data.total_igst);
                    var totalTax = 0
                    if(total_igst > 0){
                      totalTax = total_igst;
                    }else{
                      totalTax = total_gst;
                    }
                    //Total Amount
                    var amountLabel = document.querySelector('#total-amount');
                    amountLabel.textContent = 'Total Amount: ₹. ' + total_amount.toFixed(2)+'/-';
                    
                    //Total Tax Amount
                    var amountLabel = document.querySelector('#total-tax');
                    amountLabel.textContent = 'Total Tax Amount: ₹. ' + totalTax.toFixed(2)+'/-';
    
                    $('#table-body').empty();
                    
                    // Iterate through the JSON data and add rows to the table
                    $.each(data.data, function (index, item) {
                      if(item.note === 'NA'){
                        item.note = '-'
                      }
                      var filter = ''
                      if(item.payment_type === "Cash"){
                        filter = ''
                      }else{
                        filter = '<p class="text-xxs text-secondary mb-0">[ '+item.razor_pay_payment_id+' ]</p> '
                      }
                        var newRow = '<tr>' +
                            '<td  class="text-center"> <p class="text-xs text-secondary mb-0">' + (index + 1) + '</p> </td>' +
                            '<td> <p class="text-xs text-secondary mb-0">' + item.date + '</p> </td>' +
                            '<td> <p class="text-xs text-secondary mb-0"> ORD#' + item.order_id + '</p> </td>' +
                            '<td> <p class="text-xs text-secondary mb-0">' + item.customer + '</p> </td>' +
                            '<td  class="text-center"> <p class="text-xs text-secondary mb-0">₹' + item.amount + '/-</p> </td>' +
                            '<td class="text-center"> <p class="text-xs text-secondary mb-0">' + item.payment_type + '</p> '+filter+'</td>' +
                            '<td class="text-center"> <p class="text-xs text-secondary mb-0">' + item.note + '</p> </td>' +
                            '</tr>';
                        $('#table-body').append(newRow);
                    });
                    // Show the buttons once data is loaded
        $('#download-report, #print-report').css('display', 'inline-block');
                },
                error: function () {
                    alert('An error occurred while loading data.');
                }
            });
        });
    });
</script>

{% endblock  %}
