{% extends "common/base.html" %}
{% load static %}
{% block title %}All Orders{% endblock title%}
{% block content %}

  <div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        <div class="card mb-4" >
          <div class="card-header pb-0 d-flex justify-content-between">
            <h6>All Orders</h6>
            <!-- <div class="row justify-content-center align-items-center p-1">
                <a href="{% url 'dashboard_app:create_order' %}">
                <span class="badge badge-sm bg-gradient-info ">
                    <i class="fa-solid fa-user-plus"></i>
                     Create New Order</span>
                    </a>
            </div> -->
          </div>
          <!-- Action Buttons  -->
          
          <!-- Action Buttons End  -->
          <div class="card-body px-0 pt-0 pb-2">
            <div class="row ms-2">

              <div class="col-lg-6">
                <form method="get">
                  {% csrf_token %}
                  <div class="form-group">
                      <input
                          class="form-control form-control-alternative"
                          type="search"
                          id="order-id-search"
                          name="orderid-search"
                          placeholder="Search Order ID"
                          value=""
                          autocomplete="off"
                          
                      />
                  </div>
              </form>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  
                  <select class="form-control form-control-alternative" id="input-order_type" name="order_type" required>
                    <option value="All Orders"  >All Orders</option>
                    <option value="Processing" >Processing</option>
                    <option value="Payment Done" >Payment Done</option>
                    <option value="Out for Delivery" >Out for Delivery</option>
                    <option value="Completed" >Completed</option>
                    <option value="Others" >Others</option>
                  </select>
                </div>
              </div>

              <div class="col-lg-3">
                <div class="col-lg-8">
                  <div class="form-group">
                      
                      <input class="form-control form-control-alternative" type="date"  id="date-of-order" name="dateoforder" value="" >
                  </div>
              </div>
              </div>
            </div>
            <div class="table-responsive p-0">
              <table class="table table-bordered align-items-center mb-0  table-hover">
                <thead class="bg-light">
                 
                  <tr>
                    
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order ID #</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Customer</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Address</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Delivery Boy Names</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Order Recieved Time</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delivery Time</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Current Status</th>
                    <!-- <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Quantity</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Price</th> -->
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody  >
                  {% for row in query_result %}
                  <tr>
                    <td>
                      <h6 class="mb-0 text-sm text-center">#{{row.orderid}}</h6>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img src="{{row.profile_img}}" class="avatar avatar-sm me-3" alt="user1">
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{row.customer_name}}</h6>
                          <p class="text-xs text-secondary mb-0">{{row.mobile_no}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{row.address}}</p>
                      <p class="text-xs text-secondary mb-0">{{row.city}}-{{row.pincode}},{{row.landmark}}</p>
                    </td>
                    <td>
                        <!-- <h6 class="text-xs font-weight-bold mb-0 text-center">Pickup: {{row.delivery_boy_name}}</h6> -->
                        <h6 class="text-xs font-weight-bold mb-0 text-center">{{row.delivery_boy_name}}</h6>
                        <!-- <h6 class="text-xs font-weight-bold mb-0 text-center">Delivery: {{row.drop_delivery_boy_name}}</h6> -->
                        <!-- <p class="text-xs text-secondary mb-0 text-center">12:20:00 AM</p> -->
                      </td>
                    
                    <td class="align-middle text-center">
                      <span class="text-xs font-weight-bold mb-0">{{row.order_taken_epoch}} </span>
                        
                    </td>
                    <td class="align-middle text-center">
                      <span class="text-xs font-weight-bold mb-0">{{row.delivery_epoch}} </span>
                        
                    </td>
                    <td class="align-middle text-center text-sm">
    
                      {% if row.order_status == "Completed" %}
                        <span class="badge badge-sm bg-success">{{row.order_status}}</span>
                        {% elif row.order_status == "Accepted" %}
                        <span class="badge badge-sm bg-primary">{{row.order_status}}</span>
                        {% elif row.order_status == "Pick Up Done" %}
                        <span class="badge badge-sm bg-primary">{{row.order_status}}</span>
                        {% elif row.order_status == "Reached Store" %}
                        <span class="badge badge-sm bg-primary">{{row.order_status}}</span>
                        {% elif row.order_status == "Processing" %}
                        <span class="badge badge-sm bg-warning">{{row.order_status}}</span>
                        {% elif row.order_status == "Payment Done" %}
                        <span class="badge badge-sm bg-info">{{row.order_status}}</span>
                        {% elif row.order_status == "Out for Delivery" %}
                        <span class="badge badge-sm bg-info">{{row.order_status}}</span>
                        {% else %}
                        <span class="badge badge-sm bg-danger">{{row.order_status}}</span>
                        {% endif %}
                      </td>
                      
                    <td class="align-middle">
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'dashboard_app:view_order_detail' row.orderid %}" class="text-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    View Details
                                  </a>
                            </div>
                            <!-- {% if row.order_status == 'Rejected' %}
                            <div class="col">
                              <a href="{% url 'dashboard_app:view_order_detail' row.orderid %}" class="text-secondary font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#modal-default{{row.orderid}}">
                                  Assign 
                                </a>
                          </div>

                          <div class="col-md-4">
                    
                            <div class="modal fade" id="modal-default{{row.orderid}}" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                              <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h6 class="modal-title" id="modal-title-default">Assign Delivery</h6>
                                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">×</span>
                                    </button>
                                  </div>
                                  <div class="modal-body">
                                    <label for="deliveryBoySearch">Search for a Delivery Boy:</label>
                                    <input type="text" id="deliveryBoySearch" class="form-control">
                                    <div id="deliveryBoyList">
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="selectedDeliveryBoy" id="deliveryBoy" value="">
                                        <label class="form-check-label" for="deliveryBoy">
                                            <small>Sam</small>
                                        </label>
                                    </div>
                                    </div>

                                  </div>
                                    
                                  
                                  <div class="modal-footer">
                                    <button type="button" class="btn bg-gradient-danger">Assign</button>
                                    <button type="button" class="btn btn-link  ml-auto" data-bs-dismiss="modal">Cancel</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endif %} -->
                            <!-- <div class="col">
                                <a href="" class="text-danger font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Delete
                                  </a>
                            </div> -->
                        </div>
                      
                      
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Add an event listener to the search input field
        $('#order-id-search').on('input', function () {
            applyFilters();
        });

        // Add an event listener to the select field for order type
        $('#input-order_type').change(function () {
            applyFilters();
        });

        // Add an event listener to the date input field
        $('#date-of-order').on('input', function () {
            applyFilters();
        });

        function applyFilters() {
            // Get the user's search input
            var orderIdSearch = $('#order-id-search').val().toLowerCase();

            // Get the selected order type filter
            var orderTypeFilter = $('#input-order_type').val();

            // Get the selected date filter
            var dateOfOrder = $('#date-of-order').val();

            // Extract the date part from the displayed date in the table
           function extractDatePart(dateString) {
            return dateString.split(' ')[0];
        }
            // Loop through the table rows and hide/show them based on the filters
            $('.table tbody tr').each(function () {
                var orderId = $(this).find('td:first h6').text().toLowerCase();
                var orderType = $(this).find('td:nth-child(7) .badge').text();
                var orderDate = $(this).find('td:nth-child(5) span').text();
                // Convert the displayed date to a JavaScript Date object
                var displayedDate = new Date(orderDate);
                console.log('displayedDate::'+displayedDate);
               // Format the displayed date for comparison
                // Format the displayed date to include the date and time with AM/PM
               // Extract the date part of the orderDate
               var orderDatePart = extractDatePart(orderDate);
            console.log("orderDatePart::"+orderDatePart);
            if (
              (orderId.includes(orderIdSearch) || orderIdSearch === '') &&
              (orderType === orderTypeFilter || orderTypeFilter === 'All Orders') &&
              (orderDatePart === dateOfOrder || dateOfOrder === '')
          )  {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        }
    });
</script>


{% endblock  %}
