{% extends "common/base.html" %}
{% load static %}
{% block title %}Orders Assign{% endblock title%}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label
                        for="date-of-expense"
                        class="form-control-label text-secondary"
                        >Search Item</label
                      >
                      <input
                        class="form-control form-control-alternative"
                        type="search"
                        id="date-of-expense"
                        name="dateofexpense"
                        placeholder="Search items here"
                        value=""
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <!-- Action Buttons  -->

              <!-- Action Buttons End  -->
              <div class="card-body px-2 pt-0 pb-2 mt-2">
                <div class="container m-1">
                  <div class="row">
                    <div class="col-lg-3 mb-4 ms-1">
                      <div
                        class="card shadow-none align-items-center"
                        style="
                          width: 8rem;
                          border: 1.5px dotted black;
                          height: 8rem;
                        "
                      >
                        <img
                          src="../assets/img/marie.jpg"
                          class="card-img w-50 h-50 mt-1"
                          alt="Card Image"
                        />
                        <div class="card-body text-center">
                          <h6 class="card-title">Card Title</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <div class="row d-flex justify-content-end">
              <div class="col-8 d-flex align-items-center">
                
                <div class="row">
                    <form method="get">
                        {% csrf_token %}
                        <div class="form-group">
                            <input
                                class="form-control form-control-alternative"
                                type="search"
                                id="customer-name"
                                name="mobno"
                                placeholder="Search customer"
                                value=""
                                required
                                data-toggle="popover"
                                data-placement="bottom" 
                                data-html="true"
                                data-content=""
                            />
                        </div>
                    </form>
                    <input
                        class="form-control form-control-alternative"
                        type="hidden"
                        id="selected-customer-id"
                        name="selected_customer_id"
                        value=""
                    />
                    
                </div>

              </div>
              <div class="col-4 d-flex justify-content-end">
                <button class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        <div class="card-body p-3 pb-0">
            <div class="row d-flex justify-content-end">
              <div class="col-6 d-flex align-items-center">
                <div class="form-group">
                  <input
                    class="form-control form-control-alternative"
                    type="text"
                    id="search_customer"
                    name="dateofexpense"
                    placeholder="Search customer"
                    value="ORD-ID 4500"
                    required
                  />
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <div class="form-group">
                  <input
                    class="form-control form-control-alternative"
                    type="date"
                    id="date-of-expense"
                    name="dateofexpense"
                    placeholder="Search customer"
                    value=""
                    required
                  />
                </div>
              </div>
            </div>

            
            <!-- Table start  -->
            <div class="row">
                <div class="table table-responsive">
                    <table>
                        <thead>
                            <th class="text-start text-xs">Service Name</th>
                            <th class="text-start text-xs">Service Type</th>
                            <th class="text-start text-xs">Cost</th>
                            <th class="text-start text-xs">Qty</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <img src="" alt="alt">
                                        <small>T-Shirt</small>
                                        <p>[Dry Clean]</p>
                                    </div> 
                                </td>
                                <td>
                                    <small>Dry Cleaning</small>
                                </td>
                                <td>Rs.400/</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table end  -->
          </div>
          <hr />
          <div class="card-footer px-4 pt-0 pb-2 mt-2">
            <div class="row">
              <div class="col-lg-4">
                <h6 class="mb-0">Gross Total:</h6>
                <small class="mb-2 text-success">Rs.$000/</small>
                
              </div>
              <div class="col-lg-8">
                <div class="row">
                    <div class="col">

                        <button class="btn btn-danger text-xxs">Clear </button>
                    </div>
                    <div class="col-lg-7">

                        <a class="btn btn-facebook text-xxs" data-bs-toggle="modal" data-bs-target="#modal-default1">Save & Continue</a>
                    </div>
                </div>
                
                
               
              </div>
            </div>
            
            <hr />
            
          </div>
        </div>
      </div>

      <!-- Add Expenses  -->
      <div class="col-md-4">
        <div
          class="modal fade"
          id="modal-default1"
          tabindex="-1"
          role="dialog"
          aria-labelledby="modal-default"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal- modal-dialog-centered modal-"
            role="document"
          >
            <div class="modal-content">
              <form method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                  <h6 class="heading-small text-muted mb-4">
                    Order Details
                  </h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col">
                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                for="date-of-expense"
                                class="form-control-label"
                                >Delivery Date *</label
                              >
                              <input
                                class="form-control form-control-alternative"
                                type="date"
                                id="date-of-expense"
                                name="dateofexpense"
                                value="{{ data.dateofexpense|date:'Y-m-d' }}"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                for="discount-label"
                                class="form-control-label"
                                >Delivery Date *</label
                              >
                              <input
                                class="form-control form-control-alternative"
                                type="text"
                                id="discount-label"
                                name="dateofexpense"
                                value=""
                                placeholder="Enter if any discount"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <p class="mb-0"><small>Sub Total:</small></p>
                            <p class="mb-0"><small>Addon:</small></p>
                            <p class="mb-0"><small>Discount:</small></p>
                            <p class="mb-0"><small>Tax(5%):</small></p>
                          </div>
                          <div
                            class="col-lg-6 d-flex flex-column align-items-end"
                          >
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                          </div>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-lg-6"><h6>Gross Total</h6></div>
                          <div
                            class="col-lg-6 d-flex flex-column align-items-end"
                          >
                            <h6>Rs 00</h6>
                          </div>
                        </div>

                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                class="form-control-label"
                                for="input-country"
                                >Paid Amount</label
                              >
                              <input
                                type="number"
                                id="input-postal-code"
                                class="form-control form-control-alternative"
                                placeholder="Enter Expense Amount"
                                name="exp_amount"
                                value="{{ data.pincode|default:'' }}"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                class="form-control-label"
                                for="input-category"
                                >Payment Mode</label
                              >
                              <select
                                class="form-control form-control-alternative"
                                id="input-category"
                                name="payment_mode"
                                required
                              >
                                <option disabled selected>
                                  Choose Payment Mode
                                </option>
                                <option value="Cash">Cash</option>
                                <option value="UPI">UPI</option>
                                <option value="Card">Card</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Bank Transfer">
                                  Bank Transfer
                                </option>
                                <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                              </select>
                            </div>
                          </div>
                        </div>

                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <h6>Balance Amount</h6>
                          </div>
                          <div class="col-lg-6 d-flex justify-content-end">
                            <h6>Rs.0/-</h6>
                          </div>
                        </div>
                        <hr />

                        <div class="pl-lg-4">
                          <div class="form-group">
                            <label>Notes</label>
                            <textarea
                              rows="4"
                              class="form-control form-control-alternative"
                              placeholder="Enter Notes"
                              name="notes"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn bg-gradient-success">
                    Save & Print
                  </button>

                  <button
                    type="button"
                    class="btn btn-link ml-auto"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Order Details End  -->
    </div>
   
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        const inputField = $('#customer-name');
        const selectedCustomerIdInput = $('#selected-customer-id');
    
        // Initialize the popover
        inputField.popover({
            html: true,
            container: 'body',
            trigger: 'focus', // Show popover on focus
            content: function() {
                return $('#suggestion-container').html();
            }
        });
    
        inputField.on('input', function() {
            const inputText = inputField.val();
    
            if (inputText.length > 0) {
                $.get(`/admin_dashboard/search_customer_to_assign_order/${inputText}/`, function(data) {
                    const suggestions = data.suggestions;
    
                    if (suggestions.length > 0) {
                        const suggestionContent = suggestions.map(function(suggestion) {
                            return `<div class="suggestion-item" data-consmrid="${suggestion.consmrid}">${suggestion.customer_name}</div>`;
                        }).join('');
    
                        // Update the popover content
                        inputField.attr('data-content', suggestionContent);
    
                        // Attach click event to the suggestion items
                        $('.suggestion-item').on('click', function() {
                            const selectedSuggestion = $(this);
                            const customerName = selectedSuggestion.text();
                            const customerId = selectedSuggestion.data('consmrid');
    
                            // Set the value in the input field
                            inputField.val(customerName);
    
                            // Set the selected customer_id in the hidden input
                            selectedCustomerIdInput.val(customerId);
    
                            // Hide the popover
                            inputField.popover('hide');
                        });
                    } else {
                        inputField.attr('data-content', ''); // Clear the popover content
                    }
                });
            } else {
                inputField.attr('data-content', ''); // Clear the popover content
            }
        });
    });
    
    
</script>
<!-- <script>
  $(document).ready(function() {
    const inputField = $('#customer-name');
    const suggestionContainer = $('#suggestion-container');
    const selectedCustomerInput = $('#selected-customer');

    inputField.on('input', function() {
      const inputText = inputField.val();

      if (inputText.length > 0) {
        $.get(`/admin_dashboard/search_customer_to_assign_order/${inputText}/`, function(data) {
            const suggestions = data.suggestions; 
            suggestionContainer.empty();
        
            if (suggestions.length > 0) {
                const suggestionList = $('<ul>');
                suggestions.forEach(function(suggestion) {
                    const suggestionItem = $('<li>').text(suggestion.customer_name);
                    suggestionItem.on('click', function() {
                        // When a suggestion is clicked, set the value in the input field
                        selectedCustomerInput.val(suggestion.customer_name);
                    });
                    suggestionList.append(suggestionItem);
                });
                suggestionContainer.append(suggestionList);
            }
        });
      } else {
        suggestionContainer.empty();
      }
    });

    inputField.focusout(function() {
      // Clear suggestions when the input field loses focus.
      suggestionContainer.empty();
    });
  });
</script> -->

{% endblock  %}

