{% extends "common/base.html" %}
{% load static %}
{% block title %}Orders Assign{% endblock title%}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-7">
        <div class="row">
          <div class="col-12">
            <div class="card mb-4">
              <div class="card-header pb-0">
                <form method="get">
                    {% csrf_token %}
                <div class="row">
                    <!-- category start  -->

                    <div class="col-lg-4">
                    
                        <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-category"
                              >Category</label
                            >
                            <select
                              class="form-control form-control-alternative"
                              id="input-category"
                              name="main_category"
                              required
                              onchange="loadSubCategories(this)"
                            >
                              <option disabled selected>
                                Choose Expense Category
                              </option>
                              {% for category in category_data %}
                              <option
                                value="{{ category.categoryname }}"
                                data-catids="{{ category.catid }}"
                              >
                                {{ category.categoryname }}
                              </option>
                              {% endfor %}

                              <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                            </select>
                          </div>
                        
                      </div>
                    <!-- end category  -->
                      
                    <!-- Other Service Prices   -->
                    <div class="col-lg-4" id="price_col">
                    
                        <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-price"
                              >Prices</label
                            >
                            <select
                              class="form-control form-control-alternative"
                              id="input-price"
                              name="price_section"
                              required
                              
                            >
                              <option disabled selected>
                                Choose Service Type
                              </option>
                              
                              <!-- {% for category in category_data %}
                              <option
                                  value="{{ category.regular_prize }}"
                                  
                              >
                              {{ category.regular_prize }}
                              </option>
                              {% endfor %} -->

                              <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                            </select>
                          </div>
                        
                      </div>
                      <!-- End Other Service Prices  -->

                       <!-- Sections category  -->
                       <div class="col-lg-4" id="section_col">
                    
                        <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-section"
                              >Sub Section</label
                            >
                            <select
                              class="form-control form-control-alternative"
                              id="input-section"
                              name="section_type_main"
                              required
                              onchange="loadSubCategoriesBySection(this)"
                            >
                              <option disabled selected>
                                Choose Section
                              </option>
                              
                              {% for section in section_data %}
                              <option
                                  value="{{ section.section_name }}"
                                  data-section_id="{{ section.sectionid }}"
                              >
                                  {{ section.section_name }}
                              </option>
                              {% endfor %}

                              <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                            </select>
                          </div>
                        
                      </div>
                      <!-- End Sections  -->

                      <!-- sub category  -->
                      <!-- <div class="col-lg-4">
                    
                        <div class="form-group">
                            <label
                              class="form-control-label"
                              for="input-subcategory"
                              >Sub Category</label
                            >
                            <select
                              class="form-control form-control-alternative"
                              id="input-subcategory"
                              name="subcategory"
                              required
                            >
                              <option disabled selected>
                                Choose Sub Category
                              </option>
                              {% for category in data_all_categories %}
                              <option
                                value="{{ category.category_name }}"
                                data-catid="{{ category.expcatid }}"
                              >
                                {{ category.category_name }}
                              </option>
                              {% endfor %} 

                             
                            </select>
                          </div>
                        
                      </div> -->
                      <!-- End sub category  -->
                    

                </div>
            </form>
<hr>
                <div class="row">
                  <div class="col-lg-3" id="only-dry-clean">
                    
                    <div class="form-group">
                      <label
                        for="date-of-expense"
                        class="form-control-label text-secondary"
                        >Add Item Quantity</label
                      >
                      <input
                        class="form-control form-control-alternative"
                        type="number"
                        id="date-of-expense"
                        name="dateofexpense"
                        placeholder="Enter Number of Items [1,10]"
                        value=""
                        required
                      />
                    </div>

                  </div>
                  
                  <div class="col-lg-4" id="other-then-dry-clean">
                    
                    <div class="form-group">
                      <label
                        for="date-of-expense"
                        class="form-control-label text-secondary"
                        >Add Item Quantity in Kgs</label
                      >
                      <input
                        class="form-control form-control-alternative"
                        type="number"
                        id="date-of-expense"
                        name="dateofexpense"
                        placeholder="Add Item Quantity in Kgs [5,10]"
                        value=""
                        required
                      />
                    </div>

                  </div>

                </div>

                <!-- Table start  -->
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0" id="subCategoryTable">
                      <thead>
                        <tr>
                          <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          >
                            Sub Category Name
                          </th>
                          <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                          >
                            Cost
                          </th>
                          <th
                            class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          >
                            Type
                          </th>
                          <th
                            class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                          >
                            Section Type
                          </th>
                         
                          
                          <th class="text-secondary opacity-7"></th>
                          <th class="text-secondary opacity-7"></th>
                        </tr>
                      </thead>
                      {% if not query_result%}
                      <div
                        class="alert alert-info alert-dismissible m-4 fade show"
                        role="alert"
                      >
                        <span class="alert-icon text-white"
                          ><i class="ni ni-like-2"></i
                        ></span>
                        <span class="alert-text text-white"
                          ><strong>Info!</strong> {{error_msg}}!</span
                        >
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="alert"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      {% else %}
                      <tbody>
                       
                      </tbody>
                      {% endif %}
                    </table>
                  </div>
                <!-- Table End  -->

              </div>
              <!-- Action Buttons  -->

              <!-- Action Buttons End  -->
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="card">
          <div class="card-header pb-0 p-3">
            <div class="row d-flex justify-content-end">
              <div class="col-8 d-flex align-items-center">
                
                <div class="row">
                    
                        <form method="get">
                            {% csrf_token %}
                            <div class="form-group">
                                <input
                                    class="form-control form-control-alternative"
                                    type="search"
                                    id="customer-name"
                                    name="mobno"
                                    placeholder="Search customer phone"
                                    value=""
                                    autocomplete="off"
                                    
                                />
                            </div>
                        </form>
                        <div id="suggestion-container">
                            <ul class="navbar-nav" id="suggestion-list"></ul>
                        </div>
                        <input
                            class="form-control form-control-alternative"
                            type="hidden"
                            id="selected-customer-id"
                            name="selected_customer_id"
                            value=""
                        />
                        <input
                            class="form-control form-control-alternative"
                            type="hidden"
                            id="selected-mobile-no"
                            name="selected-mobile-no"
                            value=""
                        />
                        <input
                            class="form-control form-control-alternative"
                            type="hidden"
                            id="selected-customer-name"
                            name="selected-customer-name"
                            value=""
                        />
                        
                    
                </div>

              </div>
              <div class="col-4 d-flex justify-content-end">
                <button class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        <div class="card-body p-3 pb-0">
            <div class="row d-flex justify-content-end">
              <div class="col-6 d-flex align-items-center">
                <div class="form-group">
                  <input
                    class="form-control form-control-alternative"
                    type="text"
                    id="search_customer"
                    name="dateofexpense"
                    placeholder="Search customer"
                    value="ORD-ID 4500"
                    required
                  />
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end">
                <div class="form-group">
                  <input
                    class="form-control form-control-alternative"
                    type="date"
                    id="date-of-expense"
                    name="dateofexpense"
                    placeholder="Search customer"
                    value=""
                    required
                  />
                </div>
              </div>
            </div>

            
            <!-- Table start  -->
            <div class="row">
                <div class="table table-responsive">
                    <table>
                        <thead>
                            <th class="text-start text-xs">Service Name</th>
                            <th class="text-start text-xs">Service Type</th>
                            <th class="text-start text-xs">Cost</th>
                            <th class="text-start text-xs">Qty</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row">
                                        <img src="" alt="alt">
                                        <small>T-Shirt</small>
                                        <p>[Dry Clean]</p>
                                    </div> 
                                </td>
                                <td>
                                    <small>Dry Cleaning</small>
                                </td>
                                <td>Rs.400/</td>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table end  -->
          </div>
          <hr />
          <div class="card-footer px-4 pt-0 pb-2 mt-2">
            <div class="row">
              <div class="col-lg-4">
                <h6 class="mb-0">Gross Total:</h6>
                <small class="mb-2 text-success">Rs.$000/</small>
                
              </div>
              <div class="col-lg-8">
                <div class="row">
                    <div class="col">

                        <button class="btn btn-danger text-xxs">Clear </button>
                    </div>
                    <div class="col-lg-7">

                        <a class="btn btn-facebook text-xxs" data-bs-toggle="modal" data-bs-target="#modal-default1">Save & Continue</a>
                    </div>
                </div>
                
                
               
              </div>
            </div>
            
            <hr />
            
          </div>
        </div>
      </div>

      <!-- Add Expenses  -->
      <div class="col-md-4">
        <div
          class="modal fade"
          id="modal-default1"
          tabindex="-1"
          role="dialog"
          aria-labelledby="modal-default"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal- modal-dialog-centered modal-"
            role="document"
          >
            <div class="modal-content">
              <form method="post" action="">
                {% csrf_token %}
                <div class="modal-body">
                  <h6 class="heading-small text-muted mb-4">
                    Order Details
                  </h6>
                  <div class="pl-lg-4">
                    <div class="row">
                      <div class="col">
                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                for="date-of-expense"
                                class="form-control-label"
                                >Delivery Date *</label
                              >
                              <input
                                class="form-control form-control-alternative"
                                type="date"
                                id="date-of-expense"
                                name="dateofexpense"
                                value="{{ data.dateofexpense|date:'Y-m-d' }}"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                for="discount-label"
                                class="form-control-label"
                                >Delivery Date *</label
                              >
                              <input
                                class="form-control form-control-alternative"
                                type="text"
                                id="discount-label"
                                name="dateofexpense"
                                value=""
                                placeholder="Enter if any discount"
                                required
                              />
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <p class="mb-0"><small>Sub Total:</small></p>
                            <p class="mb-0"><small>Addon:</small></p>
                            <p class="mb-0"><small>Discount:</small></p>
                            <p class="mb-0"><small>Tax(5%):</small></p>
                          </div>
                          <div
                            class="col-lg-6 d-flex flex-column align-items-end"
                          >
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                            <p class="mb-0"><small>Rs.00/-</small></p>
                          </div>
                        </div>
                        <hr />
                        <div class="row">
                          <div class="col-lg-6"><h6>Gross Total</h6></div>
                          <div
                            class="col-lg-6 d-flex flex-column align-items-end"
                          >
                            <h6>Rs 00</h6>
                          </div>
                        </div>

                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                class="form-control-label"
                                for="input-country"
                                >Paid Amount</label
                              >
                              <input
                                type="number"
                                id="input-postal-code"
                                class="form-control form-control-alternative"
                                placeholder="Enter Expense Amount"
                                name="exp_amount"
                                value="{{ data.pincode|default:'' }}"
                                required
                              />
                            </div>
                          </div>
                          <div class="col-lg-6">
                            <div class="form-group">
                              <label
                                class="form-control-label"
                                for="input-category"
                                >Payment Mode</label
                              >
                              <select
                                class="form-control form-control-alternative"
                                id="input-category"
                                name="payment_mode"
                                required
                              >
                                <option disabled selected>
                                  Choose Payment Mode
                                </option>
                                <option value="Cash">Cash</option>
                                <option value="UPI">UPI</option>
                                <option value="Card">Card</option>
                                <option value="Cheque">Cheque</option>
                                <option value="Bank Transfer">
                                  Bank Transfer
                                </option>
                                <!-- <option value="Other" {% if data.gender == 'Other' %}selected{% endif %}>Other</option> -->
                              </select>
                            </div>
                          </div>
                        </div>

                        <hr />
                        <div class="row">
                          <div class="col-lg-6">
                            <h6>Balance Amount</h6>
                          </div>
                          <div class="col-lg-6 d-flex justify-content-end">
                            <h6>Rs.0/-</h6>
                          </div>
                        </div>
                        <hr />

                        <div class="pl-lg-4">
                          <div class="form-group">
                            <label>Notes</label>
                            <textarea
                              rows="4"
                              class="form-control form-control-alternative"
                              placeholder="Enter Notes"
                              name="notes"
                            ></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn bg-gradient-success">
                    Save & Print
                  </button>

                  <button
                    type="button"
                    class="btn btn-link ml-auto"
                    data-bs-dismiss="modal"
                  >
                    Cancel
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Order Details End  -->
    </div>
   
  </div>
</main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <script>
        $(document).on("click", ".increment", function() {
            var input = $(this).closest("tr").find("input[type='number']");
            input.val(parseInt(input.val()) + 1);
        });
        
        $(document).on("click", ".decrement", function() {
            var input = $(this).closest("tr").find("input[type='number']");
            var newValue = parseInt(input.val()) - 1;
            if (newValue >= 1) {
                input.val(newValue);
            }
        });
    </script>
    <script>


        $(document).ready(function() {
            $('#input-section').select2();
          });

        function loadSubCategories(categorySelect) {
            var selectedCategory = $(categorySelect).val();
            var cat_id = $(categorySelect).find(":selected").data("catids");
            console.log('CatID::'+cat_id)
            var sectionSelect = $('#input-section');
            var section_column = $('#section_col');
            var price_column = $('#price_col');
            
            //To Hide and 
            var only_dry_clean_column = $('#only-dry-clean');
            var only_dry_clean_column = $('#other-then-dry-clean');
            var price_column = $('#price_col');
            //var subCategorySelect = $('#input-subcategory');
            var priceSelect = $('#input-price');
            console.log('selectedCategory::'+selectedCategory)
            if (selectedCategory == "DRY CLEAN"){
                //Load Sections Here 
                section_column.show();
                price_column.hide();
                only_dry_clean_column.hide(); //to not show KGS Add Quantity
                subCategorySelect.empty();
                subCategorySelect.append('<option disabled selected>Choose Sub Category</option>');
                $.get(`/admin_dashboard/load_sub_categories/${cat_id}`, function(data) {
                   /* sectionSelect.empty();
                    sectionSelect.append('<option disabled selected>Choose Section</option>');
            
                    $.each(data.section_data, function(index, subSection) {
                        sectionSelect.append($('<option>', {
                            value: subSection.section_name,
                            text: subSection.section_name
                        }));
                    });
                    
*/

var subCategoryTable = $('#subCategoryTable tbody');

subCategoryTable.empty(); // Clear any existing rows

$.each(data.sub_categories, function(index, subCategory) {
    var newRow = $("<tr>");
    newRow.append("<td>" + subCategory.sub_cat_name + "</td>");
    newRow.append("<td>" + subCategory.cost + "</td>");
    newRow.append("<td>" + subCategory.type + "</td>");
    newRow.append("<td>" + subCategory.section_type + "</td>");
    newRow.append("<td><input type='number' value='1' min='1'></td>");
    newRow.append("<td><button class='increment'>+</button><button class='decrement'>-</button></td>");

    subCategoryTable.append(newRow);
});
                });
          
            }else{
                section_column.hide();
                only_dry_clean_column.show();
                price_column.show();
            $.get(`/admin_dashboard/load_section_type_sub_categories/All`, function(data) {
                /*subCategorySelect.empty();
                subCategorySelect.append('<option disabled selected>Choose Sub Category</option>');
        
                $.each(data.sub_categories, function(index, subCategory) {
                    subCategorySelect.append($('<option>', {
                        value: subCategory.subcatid,
                        text: subCategory.sub_cat_name
                    }));
                });*/

                var subCategoryTable = $('#subCategoryTable tbody');

subCategoryTable.empty(); // Clear any existing rows

$.each(data.sub_categories, function(index, subCategory) {
    var newRow = $("<tr>");
    newRow.append("<td>" + subCategory.sub_cat_name + "</td>");
    newRow.append("<td>" + subCategory.cost + "</td>");
    newRow.append("<td>" + subCategory.type + "</td>");
    newRow.append("<td>" + subCategory.section_type + "</td>");
    newRow.append("<td><input type='number' value='1' min='1'></td>");
    newRow.append("<td><button class='increment'>+</button><button class='decrement'>-</button></td>");

    subCategoryTable.append(newRow);
});

            });
            console.log('While Loading CatID::'+cat_id)
            $.get(`/admin_dashboard/load_other_category_wise_details/${cat_id}`, function(data) {
                console.log("priceCategory::"+data.other_category_data);
                priceCategory = data.other_category_data;

                priceSelect.empty();
                priceSelect.append('<option disabled selected>Choose Service Type</option>');
                // Access and use the properties of the priceCategory object here
                // Regular Price
    priceSelect.append($('<optgroup>', {
        label: 'Regular Price',
    }));
    priceSelect.append($('<option>', {
        value: `${priceCategory.regular_price} [${priceCategory.regular_price_type}] `,
        text: `${priceCategory.regular_price} [${priceCategory.regular_price_type}] `,
    }));

    // Express Price
    priceSelect.append($('<optgroup>', {
        label: 'Express Price',
    }));
    priceSelect.append($('<option>', {
        value: `${priceCategory.express_price} [${priceCategory.express_price_type}] `,
        text: `${priceCategory.express_price} [${priceCategory.express_price_type}] `,
    }));

    // Offer Price
    priceSelect.append($('<optgroup>', {
        label: 'Offer Price',
    }));
    priceSelect.append($('<option>', {
        value: `${priceCategory.offer_price} [${priceCategory.offer_price_type}] `,
        text: `${priceCategory.offer_price} [${priceCategory.offer_price_type}] `,
    }));

               
        
       
                
            
            });

      
        }
        }
    
        function loadSubCategoriesBySection(sectionTypeSelect) {
            var section_type = $(sectionTypeSelect).val();
            var section_id = $(sectionTypeSelect).find(":selected").data("section_id");
            console.log('section_id::'+section_id)
            console.log('section_type::'+section_type)
            var sectionSelect = $('#input-section');
            var subCategorySelect = $('#input-subcategory');
            
            
            $.get(`/admin_dashboard/load_section_type_sub_categories/${section_type}`, function(data) {
                subCategorySelect.empty();
                subCategorySelect.append('<option disabled selected>Choose Sub Category</option>');
        
                $.each(data.sub_categories, function(index, subCategory) {
                    subCategorySelect.append($('<option>', {
                        value: subCategory.subcatid,
                        text: subCategory.sub_cat_name
                    }));
                });
            });
      
        
        }
    
    </script>
<script>
    $(document).ready(function() {
        const inputField = $('#customer-name');
        const suggestionContainer = $('#suggestion-container');
        const suggestionList = $('#suggestion-list');
        const selectedCustomerIdInput = $('#selected-customer-id');
        const selectedMobileNoInput = $('#selected-mobile-no');
        const selectedCustomerNameInput = $('#selected-customer-name');
    
        inputField.on('input', function() {
            const inputText = inputField.val();
    
            if (inputText.length > 0) {
                $.get(`/admin_dashboard/search_customer_to_assign_order/${inputText}/`, function(data) {
                    const suggestions = data.suggestions;
                    suggestionList.empty();
    
                    if (suggestions.length > 0) {
                        suggestions.forEach(function(suggestion) {
                            const suggestionItem = $('<li class="nav-item">').text(suggestion.customer_name);
                            suggestionItem.on('click', function() {
                                // When a suggestion is clicked, set the value in the input field
                                inputField.val(suggestion.customer_name);
    
                                // Set the selected customer details in hidden inputs
                                selectedCustomerIdInput.val(suggestion.consmrid);
                                selectedMobileNoInput.val(suggestion.mobile_no);
                                selectedCustomerNameInput.val(suggestion.customer_name);
    
                                // Hide the suggestions list (ul)
                                suggestionContainer.hide();
    
                                // Hide the popover
                                inputField.popover('hide');
                            });
                            suggestionList.append(suggestionItem);
                        });
                    }
                });
            } else {
                suggestionList.empty();
            }
        });
    
        inputField.focus(function() {
            // Display the suggestions container when the input field is focused
            suggestionContainer.show();
        });
    
        inputField.focusout(function() {
            // Hide the popover when the input field loses focus
            inputField.popover('hide');
        });
    });
    
</script>
<!-- <script>
  $(document).ready(function() {
    const inputField = $('#customer-name');
    const suggestionContainer = $('#suggestion-container');
    const selectedCustomerInput = $('#selected-customer');

    inputField.on('input', function() {
      const inputText = inputField.val();

      if (inputText.length > 0) {
        $.get(`/admin_dashboard/search_customer_to_assign_order/${inputText}/`, function(data) {
            const suggestions = data.suggestions; 
            suggestionContainer.empty();
        
            if (suggestions.length > 0) {
                const suggestionList = $('<ul>');
                suggestions.forEach(function(suggestion) {
                    const suggestionItem = $('<li>').text(suggestion.customer_name);
                    suggestionItem.on('click', function() {
                        // When a suggestion is clicked, set the value in the input field
                        selectedCustomerInput.val(suggestion.customer_name);
                    });
                    suggestionList.append(suggestionItem);
                });
                suggestionContainer.append(suggestionList);
            }
        });
      } else {
        suggestionContainer.empty();
      }
    });

    inputField.focusout(function() {
      // Clear suggestions when the input field loses focus.
      suggestionContainer.empty();
    });
  });
</script> -->

{% endblock  %}

