{% extends "base/base.html" %}
{% load static %}
{% block title %}Order Details{% endblock title%}
{% block content %}

<div class="container-fluid py-4">
    
    <div class="row">
      <div class="col-12">
        
          
          <div class="container-fluid  pb-2">
            <h4>Order Details: #Order-{{order_id}}</h4>
            <hr>
            <!-- top cards  -->
            <div class="row m-2">
                <div class="col-lg-3">
                    <div class="container green-background">
                        <div class="row d-flex align-items-center p-1">
                            <div class="col-lg-2">
                                <div class="green-container">
                                    <i class="fa-brands fa-first-order-alt fa-lg"></i>
                                </div>
                            </div>
                            <div class="col-lg-10 d-flex justify-content-center flex-column mt-2">
                                <div class="col "><h6 class="title-text">Order Created At</h6></div>
                                <div class="col"><p class="time-dsc">{{purchased_time}}</p></div>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container red-background">
                        <div class="row d-flex align-items-center p-1">
                            <div class="col-lg-2">
                                <div class="red-container">
                                    <i class="fa-solid fa-user-tie fa-lg"></i>
                                </div>
                            </div>
                            <div class="col-lg-10 d-flex justify-content-center flex-column mt-2">
                                <div class="col "><h6 class="title-text">Name</h6></div>
                                <div class="col"><p class="time-dsc">{{customer_name}}</p></div>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container yellow-background">
                        <div class="row d-flex align-items-center p-1">
                            <div class="col-lg-2">
                                <div class="yellow-container">
                                    <i class="fa-solid fa-envelope fa-lg"></i>
                                </div>
                            </div>
                            <div class="col-lg-10 d-flex justify-content-center flex-column mt-2">
                                <div class="col "><h6 class="title-text">Email</h6></div>
                                <div class="col"><p class="time-dsc">{{email}}</p></div>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="container blue-background">
                        <div class="row d-flex align-items-center p-1">
                            <div class="col-lg-2">
                                <div class="blue-container">
                                    <i class="fa-solid fa-map-location-dot fa-lg"></i>
                                </div>
                            </div>
                            <div class="col-lg-10 d-flex justify-content-center flex-column mt-2">
                                <div class="col "><h6 class="title-text">Contact No</h6></div>
                                <div class="col"><p class="time-dsc">+91-{{mobno}}</p></div>
                            </div>
                            
                                
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- top cards end -->
            <div class="row m-2">
                <div class="col-lg-4">
                    <div class="card mt-4  mb-4">
                        <div class="card-header pb-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark font-weight-bolder text-lg">Delivery Address</h5>
                                {% comment %} <a href="" class="text-secondary font-weight-bold text-xs">Edit</a> {% endcomment %}
                            </div>
                        </div>
                        
                        <div class=" card-body  px-0 pt-0 pb-2 mt-2">
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">H No:</small>
                                <small class=" font-weight-normal text-dark">{{address1}}</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Address:</small>
                                <small class=" font-weight-normal text-dark">{{address2}},{{city}},{{state}}</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Pincode:</small>
                                <small class=" font-weight-normal text-dark">{{pincode}}</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mt-4  mb-4">
                        <div class="card-header pb-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark font-weight-bolder text-lg">Billing Address</h5>
                                {% comment %} <a href="" class="text-secondary font-weight-bold text-xs">Edit</a>{% endcomment %}
                            </div> 
                        </div>
                        
                        <div class=" card-body  px-0 pt-0 pb-2 mt-2">
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">H No:</small>
                                <small class=" font-weight-normal text-dark">{{address1}}</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Address:</small>
                                <small class=" font-weight-normal text-dark">{{address2}},{{city}},{{state}}</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Pincode:</small>
                                <small class=" font-weight-normal text-dark">{{pincode}}</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-none">
                    <div class="card mt-4  mb-4">
                        <div class="card-header pb-0">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark font-weight-bold text-lg">Invoice Details</h5>
                                <a href="" class="text-secondary font-weight-bold text-xs">Download</a></div>
                        </div>
                        
                        <div class=" card-body  px-0 pt-0 pb-2 mt-2">
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Number:</small>
                                <small class=" font-weight-normal text-dark">124</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Seller GST:</small>
                                <small class=" font-weight-normal text-dark">ARE45FTSHD</small>
                            </div>
                            <div class="container d-flex justify-content-between mb-0">
                                <small class=" font-weight-normal text-dark">Purchase GST:</small>
                                <small class=" font-weight-normal text-dark">SHTYRDYIWKO</small>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- addressing details end  -->
            <div class="row m-2">
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class=" card-header mb-0">
                            <h4 class="text-dark font-weight-bolder text-lg">Order Summary</h4>
                        </div>
                        <div class="card-body  px-0 pt-0 pb-2">
                            <div class=" table-responsive p-0">
                                <table class="table">
                                    <thead class=" bg-light">
                                        <tr>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Product Image</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Product Name</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Quantity</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">Price</th>
                                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 text-center">User Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for row in query_result %}
                                        <tr>
                                            <td>
                                                <img src="{{row.product_img_url}}" class="avatar avatar-xl m-1" alt="user1">
                                            </td>
                                            <td><h6 class="mb-0 text-sm text-center">{{row.product_name}}</h6></td>
                                            <td><h6 class="mb-0 text-sm text-center">{{row.quantity}}</h6></td>
                                            <td><h6 class="mb-0 text-sm text-center" data-price="{{row.purchased_price}}">₹ {{row.purchased_price}}/-</h6></td>
                                            <td><h6 class="mb-0 text-sm text-center">{{row.order_current_status}}</h6></td>
                                            
                                        </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                    
                                </table>
                            </div>
                            <!-- table end  -->
                            <div class="row d-flex justify-content-end me-2">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body px-0  p-2">
                                            <div class="container-fluid d-flex justify-content-between mb-2">
                                                    <p class="text-xs text-secondary mb-0">Sub Total </p>
                                                    <p class="text-xs text-secondary mb-0" name="sub_total">₹ 0/-</p>
                                            </div>
                                            <!-- sub total end  -->
                                            <div class="container-fluid d-flex justify-content-between  mb-2">
                                            <p class="text-xs text-secondary mb-0">Shipping Cost (+) </p>
                                            <p class="text-xs text-secondary mb-0">₹ 0/-</p>
                                            </div>
                                            <!-- shipping end  -->
                                            <!-- <div class="container-fluid d-flex justify-content-between mb-2">
                                            <p class="text-xs text-secondary mb-0">Discount (%) </p>
                                            <p class="text-xs text-secondary mb-0">₹ 100/-</p>
                                            </div> -->
                                            <!-- shipping end  -->
                                            <div class="container-fluid d-flex justify-content-between mb-2">
                                            <p class="text-xs text-secondary mb-0">Tax(18%) Inclusive </p>
                                            <p class="text-xs text-secondary mb-0 " name="tax_amount">₹ 0/-</p>
                                            </div>
                                            <!-- shipping end  -->
                                            <hr class="ms-2 me-2">
                                            <div class="container-fluid d-flex justify-content-between mb-2">
                                            <h6 class="mb-0 text-sm">Total Payable</h6>
                                            <h6 class="mb-0 text-sm" id="totalPayable">₹ 0/-</h6>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of order summary  -->
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class=" card-header pb-0">
                            <h4 class="text-dark font-weight-bolder text-lg">Status Order</h4>
                        </div>
                        <div class="card-body  px-0 pt-0 pb-2">
                            
                            <div class="container mt-2">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-fullname">Order ID</label>
                                    <input type="number" id="input-fullname" class="form-control form-control-alternative" placeholder="Order ID" name="fullname" autocomplete="off" value="{{order_id}}"  disabled>
                                  </div>
                                  <!-- end of order id  -->
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-status">Order Status</label>
                                    <select class="form-control form-control-alternative" id="input-status" name="status">
                                      <option value="Order Placed"  {% if order_current_status == 'Order Placed' %}selected{% endif %}>Order Placed</option>
                                      <option value="Processing"  {% if order_current_status == 'Processing' %}selected{% endif %}>Processing</option>
                                      <option value="Scheduling Delivery"  {% if order_current_status == 'Scheduling Delivery' %}selected{% endif %}>Scheduling Delivery</option>
                                      <option value="Ready For Delivery"  {% if order_current_status == 'Ready For Delivery' %}selected{% endif %}>Ready For Delivery</option>
                                      <option value="Out For Delivery"  {% if order_current_status == 'Out For Delivery' %}selected{% endif %}>Out For Delivery</option>
                                      <option value="Reached Destination"  {% if order_current_status == 'Reached Destination' %}selected{% endif %}>Reached Destination</option>
                                      <option value="Completed" {% if order_current_status == 'Completed' %}selected{% endif %}>Completed</option>
                                      <option value="Pending" {% if order_current_status == 'Pending' %}selected{% endif %}>Pending</option>
                                      <option value="Refund" {% if order_current_status == 'Refund' %}selected{% endif %}>Refund</option>
                                      <option value="Cancelled" {% if order_current_status == 'Cancelled' %}selected{% endif %}>Cancelled</option>
                                      <option value="Returned" {% if order_current_status == 'Returned' %}selected{% endif %}>Returned</option>
                                    </select>
                                  </div>
                                  <!-- end of order status  -->
                                  <div class="form-group">
                                    <label class="form-control-label" for="input-gender">Order Transition</label>
                                    <select class="form-control form-control-alternative" id="input-gender" name="gender">
                                      <option value="Male"  {% if data.gender == 'Male' %}selected{% endif %}>Completed</option>
                                      <option value="Male"  {% if data.gender == 'Male' %}selected{% endif %}>Failed</option>
                                      
                                    </select>
                                  </div>
                                  <!-- end of order transition  -->
                                  <div class="form-group">
                                    <label>Comments </label>
                                    <textarea rows="4" class="form-control form-control-alternative" placeholder="Any comments on this order" name="questions" >{{ data.questions|default:'' }}</textarea>
                                  </div>

                                  <div class="row d-flex justify-content-center">
                                    <div class="col-lg-2">

                                        <button type="submit" class="btn btn-primary my-4">Submit</button>
                                    </div>
                                  </div>
                                  
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end of order status  -->
            </div>
            
            
          
      </div>
    </div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $(document).ready(function() {
    // Search functionality
    $('#employee-name-search').on('keyup', function() {
      var searchText = $(this).val().toLowerCase(); // Get the search query and convert to lowercase

      // Loop through each table row
      $('tbody tr').each(function() {
        var name = $(this).find('td:eq(1) h6').text().toLowerCase(); // Get the name column content
        var mobNo = $(this).find('td:eq(1) p').text().toLowerCase(); // Get the mobile number column content

        // Check if the search query matches the name or mobile number
        if (name.includes(searchText) || mobNo.includes(searchText)) {
          $(this).show(); // If there's a match, show the row
        } else {
          $(this).hide(); // If no match, hide the row
        }
      });
    });
  });
</script>
<script>
    $(document).ready(function () {
        // Calculate totals when the page loads
        calculateTotals();

        // Update totals when quantity changes
        $('tbody').on('change', 'input[name="quantity"]', function () {
            calculateTotals();
        });

        // Function to calculate totals
        function calculateTotals() {
            var subTotal = 0;

            // Calculate subtotal based on purchased price and quantity
            $('tbody tr').each(function () {
                var price = parseFloat($(this).find('[data-price]').data('price'));
                var quantity = parseInt($(this).find('[name="quantity"]').val());
                //subTotal += price * quantity;
                subTotal += price ;
            });

            // Calculate GST (18%)
            var gst = subTotal * 0.18;

            // Calculate total payable
            //var totalPayable = subTotal + gst;
            var totalPayable = subTotal ;

            // Update the displayed values
            $('[name="sub_total"]').text('₹ ' + subTotal.toFixed(2) + '/-');
            $('[name="tax_amount"]').text('₹ ' + gst.toFixed(2) + '/-');
            $('#totalPayable').text('₹ ' + totalPayable.toFixed(2) + '/-');
        }
    });
</script>
{% endblock  %}
