{% extends 'common/base.html' %} 
{% block title %}Dashboard{% endblock title%}
{% load static %} {% block content %}





  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:all_orders' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Today's Money
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    ₹ {{total_money}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-money-coins text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:customers' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Total Customer's
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_customers}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-world text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:delivery_agents' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Delivery Agents
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_delivery_boys}}
                    <!-- {% comment %} <span class="text-danger text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-paper-diploma text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <a href="{% url 'dashboard_app:all_orders' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Delivered
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                     {{total_orders_delivered}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-cart text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

    
    {% comment %} <div class="row my-4">
      <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Current Orders</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">Displays</span> no orders found
                </p>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a
                    class="cursor-pointer"
                    id="dropdownTable"
                    
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                  <ul
                    class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                    aria-labelledby="dropdownTable"
                  >
                    <li>
                      <a
                        class="dropdown-item border-radius-md"
                        href="javascript:;"
                        
                        >View All Order</a
                      >
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table table-bordered align-items-center mb-0  table-hover">
                <thead class="bg-light">
                   <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Client Name
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Location
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Delivery Assigned To
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Clothing Type
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Completion
                    </th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="{% static 'img/curved-images/curved0.jpg' %}"
                            class="avatar avatar-sm me-3"
                            alt=""
                          />
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Shaheed Maniyar</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">New Vaibhav Nagar Belgaum</h6>
                          </div>
                      </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Khalil</h6>
                          </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold"> Wash and Iron Only </span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">60%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-gradient-info w-60"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div> {% endcomment %}

    <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas
                    id="chart-bars"
                    class="chart-canvas"
                    height="170"
                  ></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0">Active Delivery</h6>
              <p class="text-sm ms-2">
                (<span class="font-weight-bolder" id="total_last_month">+3%</span>) than last month
              </p>
              <!-- <div class="container border-radius-lg">
                <div class="row justify-content-center">
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-solid fa-users fa-lg "></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Customers</p>
                    </div>
                    <h4 class="font-weight-bolder">36</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-60"
                        role="progressbar"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div
                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-info text-center me-2 d-flex align-items-center justify-content-center"
                      >
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-solid fa-truck"></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Delivery</p>
                    </div>
                    <h4 class="font-weight-bolder">2m</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-90"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div
                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-warning text-center me-2 d-flex align-items-center justify-content-center"
                      >
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-brands fa-adversal"></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Sales</p>
                    </div>
                    <h4 class="font-weight-bolder">₹40,035</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-30"
                        role="progressbar"
                        aria-valuenow="30"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  
                </div>
              </div> -->

            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Sales overview</h6>
              <p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% more</span> in 2023
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas
                  id="chart-line"
                  class="chart-canvas"
                  height="300"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer pt-3">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              VFF Group
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    
// Function to convert numeric month to abbreviated month name with year
function getMonthWithYear(monthYearString) {
const [year, month] = monthYearString.split('-');
const monthNames = [
  "Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
];
return `${monthNames[parseInt(month) - 1]} ${year}`;
}
// Function to update the chart with data
function updateChart(data) {
var labels = data.map(item => getMonthWithYear(item.current_month));
var counts = data.map(item => item.current_month_count);
var previousCounts = data.map(item => item.previous_month_count);
var percentageIncreases = data.map(item => item.percentage_increase);

new Chart(ctx, {
  type: "bar",
  data: {
    labels: labels,
    datasets: [
      {
        label: "Completed Orders",
        tension: 0.4,
        borderWidth: 0,
        borderRadius: 4,
        borderSkipped: false,
        backgroundColor: "#fff",
        data: counts,
        maxBarThickness: 6,
      },
    ],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
    },
    interaction: {
      intersect: false,
      mode: "index",
    },
    scales: {
      y: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
        },
        ticks: {
          suggestedMin: 0,
          suggestedMax: Math.max(...counts) + 5, // Adjusted based on the maximum value in the data
          beginAtZero: true,
          padding: 15,
          font: {
            size: 14,
            family: "Open Sans",
            style: "normal",
            lineHeight: 2,
          },
          color: "#fff",
        },
      },
      x: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
        },
        ticks: {
          display: false,
        },
      },
      tooltips: {
        callbacks: {
          label: function (tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label || '';

            if (label) {
              label += ': ';
            }

            label += tooltipItem.yLabel + ' (<span class="font-weight-bolder">+' + percentageIncreases[tooltipItem.index].toFixed(2) + '%</span>) than last month';
            
            // Update HTML content with previous month count and percentage increase
            document.getElementById("total_last_month").innerHTML = '+' + previousCounts[tooltipItem.index] + '%';
            return label;
          },
        },
        },
    
      },
  },
});
}
// AJAX request to fetch data from the server
$.ajax({
url: "/admin_dashboard/get_delivery_chart_details/", // Replace with the actual backend endpoint
method: "GET",
dataType: "json",
success: function (response) {
  if (response.error) {
    console.error("Error fetching data:", response.error);
  } else {
    // Update the chart with the fetched data
    updateChart(response.data);
  }
},
error: function (error) {
  console.error("Error fetching data:", error);
},
});
</script>
{% endblock %}
