{% extends 'common/base.html' %} 
{% block title %}Dashboard{% endblock title%}
{% load static %} {% block content %}





  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:sales_report' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Today's Money
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    ₹ {{total_money}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-money-coins text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:customers' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Total Customer's
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_customers}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-world text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="{% url 'dashboard_app:delivery_agents' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Delivery Agents
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                    {{total_delivery_boys}}
                    <!-- {% comment %} <span class="text-danger text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-paper-diploma text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
      <div class="col-xl-3 col-sm-6">
        <a href="{% url 'dashboard_app:order_report' %}">
        <div class="card">
          <div class="card-body p-3">
            <div class="row">
              <div class="col-8">
                <div class="numbers">
                  <p class="text-sm mb-0 text-capitalize font-weight-bold">
                    Delivered
                  </p>
                  <h5 class="font-weight-bolder mb-0">
                     {{total_orders_delivered}}
                    <!-- {% comment %} <span class="text-success text-sm font-weight-bolder"
                      >0%</span
                    > {% endcomment %} -->
                  </h5>
                </div>
              </div>
              <div class="col-4 text-end">
                <div
                  class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md"
                >
                  <i
                    class="ni ni-cart text-lg opacity-10"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>

    
    {% comment %} <div class="row my-4">
      <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
        <div class="card">
          <div class="card-header pb-0">
            <div class="row">
              <div class="col-lg-6 col-7">
                <h6>Current Orders</h6>
                <p class="text-sm mb-0">
                  <i class="fa fa-check text-info" aria-hidden="true"></i>
                  <span class="font-weight-bold ms-1">Displays</span> no orders found
                </p>
              </div>
              <div class="col-lg-6 col-5 my-auto text-end">
                <div class="dropdown float-lg-end pe-4">
                  <a
                    class="cursor-pointer"
                    id="dropdownTable"
                    
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa fa-ellipsis-v text-secondary"></i>
                  </a>
                  <ul
                    class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                    aria-labelledby="dropdownTable"
                  >
                    <li>
                      <a
                        class="dropdown-item border-radius-md"
                        href="javascript:;"
                        
                        >View All Order</a
                      >
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive">
              <table class="table table-bordered align-items-center mb-0  table-hover">
                <thead class="bg-light">
                   <tr>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Client Name
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Location
                    </th>
                    <th
                      class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"
                    >
                      Delivery Assigned To
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Clothing Type
                    </th>
                    <th
                      class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    >
                      Completion
                    </th>
                  </tr> 
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          <img
                            src="{% static 'img/curved-images/curved0.jpg' %}"
                            class="avatar avatar-sm me-3"
                            alt=""
                          />
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">Shaheed Maniyar</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="avatar-group mt-2">
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">New Vaibhav Nagar Belgaum</h6>
                          </div>
                      </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">Khalil</h6>
                          </div>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="text-xs font-weight-bold"> Wash and Iron Only </span>
                    </td>
                    <td class="align-middle">
                      <div class="progress-wrapper w-75 mx-auto">
                        <div class="progress-info">
                          <div class="progress-percentage">
                            <span class="text-xs font-weight-bold">60%</span>
                          </div>
                        </div>
                        <div class="progress">
                          <div
                            class="progress-bar bg-gradient-info w-60"
                            role="progressbar"
                            aria-valuenow="60"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
    </div> {% endcomment %}

    <div class="row mt-4">
        <div class="col-lg-5 mb-lg-0 mb-4">
          <div class="card z-index-2">
            <div class="card-body p-3">
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas
                    id="chart-bars"
                    class="chart-canvas"
                    height="170"
                  ></canvas>
                </div>
              </div>
              <h6 class="ms-2 mt-4 mb-0">Active Delivery</h6>
              <!-- <p class="text-sm ms-2">
                (<span class="font-weight-bolder" id="total_last_month">+3%</span>) than last month
              </p> -->
              <!-- <div class="container border-radius-lg">
                <div class="row justify-content-center">
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-primary text-center me-2 d-flex align-items-center justify-content-center">
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-solid fa-users fa-lg "></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Customers</p>
                    </div>
                    <h4 class="font-weight-bolder">36</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-60"
                        role="progressbar"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div
                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-info text-center me-2 d-flex align-items-center justify-content-center"
                      >
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-solid fa-truck"></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Delivery</p>
                    </div>
                    <h4 class="font-weight-bolder">2m</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-90"
                        role="progressbar"
                        aria-valuenow="90"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-3 py-3 ps-0">
                    <div class="d-flex mb-2">
                      <div
                        class="icon icon-shape icon-xxs shadow border-radius-sm bg-gradient-warning text-center me-2 d-flex align-items-center justify-content-center"
                      >
                      <div class="row align-items-center">
                          <div class="col p-5">
  
                              <i class="fa-brands fa-adversal"></i>
                          </div>
                      </div>
                      </div>
                      <p class="text-xs mt-1 mb-0 font-weight-bold">Sales</p>
                    </div>
                    <h4 class="font-weight-bolder">₹40,035</h4>
                    <div class="progress w-75">
                      <div
                        class="progress-bar bg-dark w-30"
                        role="progressbar"
                        aria-valuenow="30"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  
                </div>
              </div> -->

            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="card z-index-2">
            <div class="card-header pb-0">
              <h6>Sales overview</h6>
              <!-- <p class="text-sm">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% more</span> in 2023
              </p> -->
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas
                  id="chart-line"
                  class="chart-canvas"
                  height="300"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    <footer class="footer pt-3">
      <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col mb-lg-0 mb-4">
            <div class="copyright text-center text-sm text-muted text-lg-start">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              VFF Group
            </div>
          </div>
          
        </div>
      </div>
    </footer>
  </div>



  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
    var ctx = document.getElementById("chart-bars").getContext("2d");

    
// Function to convert numeric month to abbreviated month name with year
function getMonthWithYear(monthYearString) {
const [year, month] = monthYearString.split('-');
const monthNames = [
  "Jan", "Feb", "Mar", "Apr", "May", "Jun",
  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
];
return `${monthNames[parseInt(month) - 1]} ${year}`;
}
// Function to update the chart with data
function updateChart(data) {
var labels = data.map(item => getMonthWithYear(item.current_month));
var counts = data.map(item => item.current_month_count);
var previousCounts = data.map(item => item.previous_month_count);
var percentageIncreases = data.map(item => item.percentage_increase);

new Chart(ctx, {
  type: "bar",
  data: {
    labels: labels,
    datasets: [
      {
        label: "Completed Orders",
        tension: 0.4,
        borderWidth: 0,
        borderRadius: 4,
        borderSkipped: false,
        backgroundColor: "#fff",
        data: counts,
        maxBarThickness: 6,
      },
    ],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
    },
    interaction: {
      intersect: false,
      mode: "index",
    },
    scales: {
      y: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
        },
        ticks: {
          suggestedMin: 0,
          suggestedMax: Math.max(...counts) + 5, // Adjusted based on the maximum value in the data
          beginAtZero: true,
          padding: 15,
          font: {
            size: 14,
            family: "Open Sans",
            style: "normal",
            lineHeight: 2,
          },
          color: "#fff",
        },
      },
      x: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
        },
        ticks: {
          display: false,
        },
      },
    
      },
  },
});
}
// AJAX request to fetch data from the server
$.ajax({
url: "/admin_dashboard/get_delivery_chart_details/", // Replace with the actual backend endpoint
method: "GET",
dataType: "json",
success: function (response) {
  if (response.error) {
    console.error("Error fetching data:", response.error);
  } else {
    // Update the chart with the fetched data
    updateChart(response.data);
  }
},
error: function (error) {
  console.error("Error fetching data:", error);
},
});


// Make an AJAX request to fetch the chart data
$.ajax({
  url: '/admin_dashboard/get_sales_chart_details/',
  type: 'GET',
  dataType: 'json',
  success: function (data) {
      // Extract the unique months from the data
      var uniqueMonths = [...new Set(data.data.map(entry => entry.month))];

      
      // Update the chart data with the fetched data
      salesChart.data.labels = uniqueMonths.map(getMonthWithYear);

      // Create datasets for each order_taken_on type
      var datasets = [];
      data.data.forEach(entry => {
          var existingDataset = datasets.find(ds => ds.label === entry.order_taken_on);
          if (!existingDataset) {
              existingDataset = {
                  label: entry.order_taken_on,
                  tension: 0.4,
                  borderWidth: 3,
                  maxBarThickness: 6,
                  pointRadius: 0,
                  fill: true,
                  backgroundColor: entry.order_taken_on === 'App' ? gradientStroke1 : gradientStroke2,
                  borderColor: entry.order_taken_on === 'App' ? "#cb0c9f" : "#3A416F",
                  data: [],
              };
              datasets.push(existingDataset);
          }

          existingDataset.data.push(entry.completed_order_count);
      });

      // Update the chart data with the fetched data
      //salesChart.data.labels = uniqueMonths;
      salesChart.data.datasets = datasets;

      // Update the chart
      salesChart.update();
  },
  error: function (error) {
      console.error('Error fetching chart data:', error);
  }
});

// Create the chart
var ctx2 = document.getElementById("chart-line").getContext("2d");

var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);
gradientStroke1.addColorStop(1, "rgba(203,12,159,0.2)");
gradientStroke1.addColorStop(0.2, "rgba(72,72,176,0.0)");
gradientStroke1.addColorStop(0, "rgba(203,12,159,0)"); //purple colors

var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);
gradientStroke2.addColorStop(1, "rgba(20,23,39,0.2)");
gradientStroke2.addColorStop(0.2, "rgba(72,72,176,0.0)");
gradientStroke2.addColorStop(0, "rgba(20,23,39,0)"); //purple colors

var salesChart = new Chart(ctx2, {
  type: "line",
  data: {
      labels: [], // Will be dynamically set
      datasets: [], // Will be dynamically set
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      legend: {
        display: false,
      },
    },
    interaction: {
      intersect: false,
      mode: "index",
    },
    scales: {
      y: {
        grid: {
          drawBorder: false,
          display: true,
          drawOnChartArea: true,
          drawTicks: false,
          borderDash: [5, 5],
        },
        ticks: {
          display: true,
          padding: 10,
          color: "#b2b9bf",
          font: {
            size: 11,
            family: "Open Sans",
            style: "normal",
            lineHeight: 2,
          },
        },
      },
      x: {
        grid: {
          drawBorder: false,
          display: false,
          drawOnChartArea: false,
          drawTicks: false,
          borderDash: [5, 5],
        },
        ticks: {
          display: true,
          color: "#b2b9bf",
          padding: 20,
          font: {
            size: 11,
            family: "Open Sans",
            style: "normal",
            lineHeight: 2,
          },
        },
      },
    },
  },

});

</script>
<!-- <script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.8/firebase-messaging.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script> -->

<!-- Initialize Firebase -->
<script type="module">
   // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-app.js";
  import { getMessaging,getToken } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-messaging.js";
  import { getFirestore } from "https://www.gstatic.com/firebasejs/9.21.0/firebase-firestore.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries
const firebaseConfig = {
  apiKey: "AIzaSyB377d4_AFRtoEIjpN2Puf3CYwe-I9dCGE",
  authDomain: "vff-group-b185c.firebaseapp.com",
  projectId: "vff-group-b185c",
  storageBucket: "vff-group-b185c.appspot.com",
  messagingSenderId: "711189707453",
  appId: "1:711189707453:web:3813986a11e36f830b55d4",
  measurementId: "G-YYEJHD2GJ1"
};
console.log("firebase_config::"+firebaseConfig);
  // Initialize Firebase app

   // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  console.log("app:"+app);
  // Initialize Firebase messaging
  // const messaging = firebase.messaging();
  const messaging = getMessaging(app);

  // Register the service worker from the static folder
  navigator.serviceWorker.register('/static/js/firebase-messaging-sw.js')
    .then((registration) => {
      console.log('Service Worker registered:', registration);
    }).catch((err) => {
      console.error('Service Worker registration failed:', err);
    });

  // Request permission for notifications
Notification.requestPermission().then((permission) => {
  if (permission === 'granted') {
    // Get FCM token
    getToken(messaging, { vapidKey: 'AAAApZY1ur0:APA91bHsk-e3OC5R2vqO7dD0WZp7ifULNzqrUPnQu07et7RLFMWWcwOqY9Bl-9YQWkuXUP5nM7bVMgMP-qKISf9Jcf2ix9j7oOkScq9-3BH0hfCH3nIWgkn4hbnmSLyw4pmq66rMZz8R' }).then((currentToken) => {
      if (currentToken) {
        console.log('FCM Token:', currentToken);
        // Send the token to your server for storage or use
      } else {
        console.log('No registration token available.');
      }
    }).catch((err) => {
      console.log('An error occurred while retrieving token:', err);
    });
  } else {
    console.log('Permission for notifications denied.');
  }
});


</script>

{% endblock %}
