<div class="header-bottom sticky-header">
    <div class="container">
        <div class="header-left">
            <nav class="main-nav">
                <ul class="menu sf-arrows">
                    <li class="megamenu-container active">
                        <a href="" class="sf-with-ul">Home</a>

                        
                    </li>
                    <li>
                        <a href="{% url 'united_armor:all_products' %}" class="sf-with-ul">Men</a>

                        <div class="megamenu megamenu-md">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Category</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="{% url 'united_armor:all_products' %}">Tops</a></li>
                                                    <li><a href="">Leggings</a></li>
                                                   
                                                </ul>

                                                
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Sports</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="">Running</a></li>
                                                    <li><a href="">OutDoor</a></li>
                                                   
                                                </ul>
                                                
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="{% url 'united_armor:all_products' %}" class="banner banner-menu">
                                            <img src="{% static 'assets/images/no_image.jpg' %}" alt="Banner" width="50" height="50">

                                            <div class="banner-content banner-content-top">
                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                            </div><!-- End .banner-content -->
                                        </a>
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .megamenu megamenu-md -->
                    </li>
                    <li>
                        <a href="{% url 'united_armor:all_products' %}" class="sf-with-ul">Women</a>

                        <div class="megamenu megamenu-md">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Category</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="">Tops</a></li>
                                                    <li><a href="">Leggings</a></li>
                                                   
                                                </ul>

                                                
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Sports</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="">Running</a></li>
                                                    <li><a href="">OutDoor</a></li>
                                                   
                                                </ul>
                                                
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="{% url 'united_armor:all_products' %}" class="banner banner-menu">
                                            <img src="{% static 'assets/images/no_image.jpg' %}" alt="Banner"  width="50" height="50">

                                            <div class="banner-content banner-content-top">
                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                            </div><!-- End .banner-content -->
                                        </a>
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .megamenu megamenu-md -->
                    </li>
                    <li>
                        <a href="{% url 'united_armor:all_products' %}" class="sf-with-ul">Kids</a>

                        <div class="megamenu megamenu-md">
                            <div class="row no-gutters">
                                <div class="col-md-8">
                                    <div class="menu-col">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Category</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="">Tops</a></li>
                                                    <li><a href="">Leggings</a></li>
                                                   
                                                </ul>

                                                
                                            </div><!-- End .col-md-6 -->

                                            <div class="col-md-6">
                                                <div class="menu-title">Shop By Sports</div><!-- End .menu-title -->
                                                <ul>
                                                    <li><a href="">Running</a></li>
                                                    <li><a href="">OutDoor</a></li>
                                                   
                                                </ul>
                                                
                                            </div><!-- End .col-md-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .menu-col -->
                                </div><!-- End .col-md-8 -->

                                <div class="col-md-4">
                                    <div class="banner banner-overlay">
                                        <a href="{% url 'united_armor:all_products' %}" class="banner banner-menu">
                                            <img src="{% static 'assets/images/no_image.jpg' %}" alt="Banner" width="50" height="50">

                                            <div class="banner-content banner-content-top">
                                                <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                            </div><!-- End .banner-content -->
                                        </a>
                                    </div><!-- End .banner banner-overlay -->
                                </div><!-- End .col-md-4 -->
                            </div><!-- End .row -->
                        </div><!-- End .megamenu megamenu-md -->
                    </li>

                   
                </ul><!-- End .menu -->
            </nav><!-- End .main-nav -->

            <button class="mobile-menu-toggler">
                <span class="sr-only">Toggle mobile menu</span>
                <i class="icon-bars"></i>
            </button>
        </div><!-- End .header-left -->

        <div class="header-right">
            <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
        </div>
    </div><!-- End .container -->
</div>



{% for row in main_cat_data %}
<li>
    <a href="{% url 'united_armor:all_products' %}" class="sf-with-ul">{{ row.main_title_name }}</a>
    <div class="megamenu megamenu-md">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="menu-col">
                    <div class="row">
                        {% if row.cat_name %}
                            <div class="col-md-6">
                                <div class="menu-title">{{ row.cat_name }}</div><!-- End .menu-title -->
                                <ul>
                                    {% if row.sub_category.sub_cat_name %}
                                        <li>
                                            <a href="{% url 'united_armor:all_products' %}">{{ row.sub_category.sub_cat_name }}</a>
                                        </li>
                                        <!-- Add more sub-categories if needed -->
                                    {% endif %}
                                </ul>
                            </div><!-- End .col-md-6 -->
                        {% endif %}
                    </div><!-- End .row -->
                </div><!-- End .menu-col -->
            </div><!-- End .col-md-8 -->

            <div class="col-md-4">
                <div class="banner banner-overlay">
                    <a href="{% url 'united_armor:all_products' %}" class="banner banner-menu">
                        <img src="{{row.images}}" alt="Banner" >
                        <div class="banner-content banner-content-top">
                            <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                        </div><!-- End .banner-content -->
                    </a>
                </div><!-- End .banner banner-overlay -->
            </div><!-- End .col-md-4 -->
        </div><!-- End .row -->
    </div><!-- End .megamenu megamenu-md -->
</li>
{% endfor %}


<nav class="mobile-nav">
    <ul class="mobile-menu">
        <li class="active">
            <a href="{% url 'united_armor:home' %}">Home</a>

            <ul>
                <li><a href="">New Arrival</a></li>
                <li><a href="">Men</a></li>
                <li><a href="">Women</a></li>
                <li><a href="">Kids</a></li>
                <li><a href="">Trending</a></li>
              
            </ul>
        </li>
        <li>
            <a href="#">Men</a>
            <ul>
                <li>
                    <a href="about.html">Shop By Category</a>

                    <ul>
                        <li><a href="about.html">Tops</a></li>
                        <li><a href="about-2.html">Leggings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Shop by Sports</a>

                    <ul>
                        <li><a href="contact.html">Running</a></li>
                        
                    </ul>
                </li>
            </ul>
            </li>
        <li>
            <a href="#">Women</a>
            <ul>
                <li>
                    <a href="about.html">Shop By Category</a>

                    <ul>
                        <li><a href="about.html">Tops</a></li>
                        <li><a href="about-2.html">Leggings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Shop by Sports</a>

                    <ul>
                        <li><a href="contact.html">Running</a></li>
                        
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Kids</a>
            <ul>
                <li>
                    <a href="about.html">Shop By Category</a>

                    <ul>
                        <li><a href="about.html">Tops</a></li>
                        <li><a href="about-2.html">Leggings</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Shop by Sports</a>

                    <ul>
                        <li><a href="contact.html">Running</a></li>
                        
                    </ul>
                </li>
                
            </ul>
        </li>
        <li><a href="">Login</a></li>
                
        
    </ul>
</nav><!-- End .mobile-nav -->