{% load static %}
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>United Armor - Popular Clothing Brand</title>
    <meta name="keywords" content="United Armor">
    <meta name="description" content="United Armor Clothing Brand at a very reasonable price">
    <meta name="author" content="shaheed">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg" color="#666666' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="United Armor">
    <meta name="application-name" content="United Armor">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-9.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-9.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">

    <!-- Style Toast  -->
    <link rel="stylesheet" href="{% static 'vendor/toastr/css/toastr.min.css' %}">

    <!-- For Toast Messages  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
</head>

<body>
    <div class="page-wrapper">
         <header class="header header-6">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <ul class="top-menu top-link-menu d-none d-md-block">
                            <li>
                                <a >Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +91-6364912877</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="social-icons social-icons-color">
                            <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                            <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="#" class="social-icon social-instagram" title="Pinterest" target="_blank"><i class="icon-instagram"></i></a>
                            <a href="#" class="social-icon social-pinterest" title="Instagram" target="_blank"><i class="icon-pinterest-p"></i></a>
                        </div><!-- End .soial-icons -->
                        <ul class="top-menu top-link-menu">
                            <li>
                                <a >Links</a>
                                <ul>
                                    {% if request.session.customer_name %}
                                    <li><a href="" ><i class="icon-user"></i>{{request.session.customer_name}}</a></li>
                                    {% else %}
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->

                        
                    </div><!-- End .header-right -->
                </div>
            </div>
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <!-- <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." required>
                                </div> End .header-search-wrapper 
                            </form>
                        </div>End .header-search -->
                    </div>
                    <div class="header-center">
                        <a href="{% url 'united_armor:home' %}" class="logo">
                            <img src="{% static 'assets/images/demos/demo-9/logo.png' %}" alt="United Armor Logo" width="50" height="20">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <a href="{% url 'united_armor:wishlist' %}" class="wishlist-link">
                            <i class="icon-heart-o"></i>
                            <!-- <span class="wishlist-count">3</span> -->
                            <span class="wishlist-txt">My Wishlist</span>
                        </a>

                        <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="cart-count">2</span> -->
                                <!-- <span class="cart-txt">₹ 164,00</span> -->
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="{% url 'united_armor:product' 1 %}">UARM runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="{% url 'united_armor:product' 2 %}" class="product-image">
                                                <img src="{% static 'assets/images/products/cart/product-1.jpg' %}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="{% url 'united_armor:product' 3 %}">UARM Wear</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="{% url 'united_armor:product' 4 %}" class="product-image">
                                                <img src="{% static 'assets/images/products/cart/product-2.jpg' %}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">₹160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="{% url 'united_armor:cart' %}" class="btn btn-primary">View Cart</a>
                                    <a href="{% url 'united_armor:checkout' %}" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <!-- <li class="megamenu-container active"> -->
                                <li class="megamenu-container">
                                    <a href="{% url 'united_armor:home' %}" class="sf-with-ul">Home</a>
                                </li>
                              
                                {% for main_cat_data in all_categories %}
                                <li>
                                    <a href="{% url 'united_armor:all_products_with_main_category' main_cat_data.main_cat_id main_cat_data.main_cat_name %}" class="sf-with-ul">{{ main_cat_data.main_cat_name }}</a>

                                    <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        {% for cat_data in main_cat_data.categories %}
                                                            <div class="col-md-6">
                                                                <div class="menu-title">{{ cat_data.cat_name }}</div><!-- End .menu-title -->
                                                                <ul>
                                                                    {% for sub_cat_data in cat_data.sub_category %}
                                                                        <li>
                                                                            <a href="{% url 'united_armor:all_products_with_sub_category'  main_cat_data.main_cat_id main_cat_data.main_cat_name cat_data.cat_id cat_data.cat_name sub_cat_data.sub_cat_id  sub_cat_data.sub_cat_name %}">{{ sub_cat_data.sub_cat_name }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div><!-- End .col-md-6 -->
                                                        {% endfor %}
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a href="{% url 'united_armor:all_products_with_main_category'  main_cat_data.main_cat_id main_cat_data.main_cat_name %}" class="banner banner-menu">
                                                        <!-- <img src="{{ main_cat_data.images }}" alt="Banner"> -->
                                                        <img src="{% static 'assets/images/no_image.jpg' %}" alt="Banner" width="50" height="50">

                                                        <div class="banner-content banner-content-top">
                                                            <div class="banner-title text-white">Last <br>Chance<br><span><strong>Sale</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                </li>
                                {% endfor %}

                            

                               
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->

                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance Up to 30% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div>
            <!-- End .header-bottom -->
        </header><!-- End .header -->

        <main class="main">
           {% block content %}
           {% endblock %}
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{% static 'assets/images/demos/demo-9/logo-footer.png' %}" class="footer-logo" alt="Footer Logo" width="82" height="25">
                                <p>At United Armor, we don't just sell clothes; we offer a statement. Our brand represents resilience in the face of challenges, a testament to your unwavering spirit. Whether it's our tailored suits exuding professionalism or our athleisure wear designed for those on the move, each piece embodies our commitment to quality and innovation.</p>
                                
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:123456789">+91-6364912877</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->

                      

                        <div class="col-sm-4 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Privacy Policy</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->

                        <div class="col-sm-4 col-lg-3">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                                <ul class="widget-list">
                                    <li><a href="#">Track My Order</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->

            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script></p><!-- End .footer-copyright -->
                    <ul class="footer-menu">
                        <li><a href="#">Terms Of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul><!-- End .footer-menu -->

                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                        <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                        <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                        <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="{% url 'united_armor:home' %}">Home</a>
                    </li>
                    {% for main_cat_data in all_categories %}
                    <li>
                        <a href="{% url 'united_armor:all_products_with_main_category'  main_cat_data.main_cat_id main_cat_data.main_cat_name %}">{{ main_cat_data.main_cat_name }}</a>
                        <ul>
                            {% for cat_data in main_cat_data.categories %}
                            <li>
                                <a>{{ cat_data.cat_name }}</a>

                                <ul>
                                    {% for sub_cat_data in cat_data.sub_category %}
                                    <li><a href="{% url 'united_armor:all_products_with_sub_category'  main_cat_data.main_cat_id main_cat_data.main_cat_name cat_data.cat_id cat_data.cat_name sub_cat_data.sub_cat_id  sub_cat_data.sub_cat_name %}">{{ sub_cat_data.sub_cat_name }}</a></li>
                                    
                                    {% endfor %}
                                </ul>
                            </li>
                           
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                    
                  
                            
                    
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form method="post" id="login-form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="singin-email">Email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                            <small id="email-error-msg" class="text-danger m-1"></small>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            <small id="login-error-msg" class="text-danger m-1 text-center"></small>
                                        </div>
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2"  id="login-button">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form method="post" id="register-form">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="text" class="form-control" id="register-email" name="register-email" required>
                                            <small id="email-error-msg" class="text-danger m-1"></small>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            <small id="register-error-msg" class="text-danger m-1 text-center"></small>
                                        </div>
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2" id="register-button">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

  <!--   <div class="container newsletter-popup-container mfp-hide" id="newsletter-popup-form">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row no-gutters bg-white newsletter-popup-content">
                    <div class="col-xl-3-5col col-lg-7 banner-content-wrap">
                        <div class="banner-content text-center">
                            <img src="{% static 'assets/images/popup/newsletter/logo.png' %}" class="logo" alt="logo" width="60" height="15">
                            <h2 class="banner-title">get <span>25<light>%</light></span> off</h2>
                            <p>Subscribe to the United Armor eCommerce newsletter to receive timely updates from your favorite products.</p>
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn" type="submit"><span>go</span></button>
                                    </div>
                                    .End .input-group-append
                                </div>.End .input-group
                            </form>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                <label class="custom-control-label" for="register-policy-2">Do not show this popup again</label>
                            </div>End .custom-checkbox
                        </div>
                    </div>
                    <div class="col-xl-2-5col col-lg-5 ">
                        <img src="{% static 'assets/images/popup/newsletter/img-1.jpg' %}" class="newsletter-img" alt="newsletter">
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <!-- Plugins JS File -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Login form  -->
    <script>
        $(document).ready(function() {
            $('#login-button').on('click', function(event) {
                // Prevent the default form submission
                event.preventDefault();
                
                // Validate email format
                var emailInput = $('#singin-email');
                var emailErrorMsg = $('#email-error-msg');
    
                var emailPattern = /\S+@\S+\.\S+/; // Regular expression for a simple email validation

                if (!emailPattern.test(emailInput.val())) {
                    emailErrorMsg.text('Please provide a valid email address.');
                    return;
                }
    
                // Clear previous error message
                emailErrorMsg.text('');
    
                // Perform AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/united_armor/login/',
                    data: $('#login-form').serialize(),
                    success: function(response) {
                        console.log('Login successful:' + response);
                         // Check the response message
                    if (response.message === 'Invalid credentials') {
                        // Show an error message
                        $('#login-error-msg').text('Invalid credentials.\n Please check your username or password. If not Registered \nplease Register Now.');
                    } else {
                        // Reload the screen
                        window.location.reload();
                    }
    
                    },
                    error: function(error) {
                        console.error('Error during login:', error);
                    }
                });
    
                // Return false to prevent form submission and page reload
                return false;
            });
        });
    </script>
    
    <script>
        $(document).ready(function() {
            $('#register-form').on('submit', function(event) {
                // Prevent the default form submission
                event.preventDefault();
    
                // Validate email format
                var emailInput = $('#register-email');
                var emailErrorMsg = $('#email-error-msg');
    
                var emailPattern = /\S+@\S+\.\S+/; // Regular expression for a simple email validation
    
                if (!emailPattern.test(emailInput.val())) {
                    emailErrorMsg.text('Please provide a valid email address.');
                    return;
                }
    
                // Clear previous error message
                emailErrorMsg.text('');
    
                // Perform AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/united_armor/register/',
                    data: $(this).serialize(),
                    success: function(response) {
                        console.log('Registration response:', response);
    
                        // Check the response message
                        if (response.message === 'Already Exist') {
                            // Show an error message
                            $('#register-error-msg').text('This Email Already Exist Please Try to Login');
                        } else if (response.message === 'Registration successful') {
                            // Redirect to a success page or perform any other action
                            window.location.reload();
                        } else {
                            // Handle other response cases as needed
                        }
                    },
                    error: function(error) {
                        console.error('Error during registration:', error);
                    }
                });
            });
        });
    </script>

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'assets/js/jquery.elevateZoom.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/demos/demo-9.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'vendor/toastr/js/toastr.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/toastr-init.js' %}"></script>

    
</body>


<!-- United Armor/index-9.html  22 Nov 2023 09:58:03 GMT -->
</html>